body {
  background-color: var(--mm--color--neutral-9);
  color: var(--mm--color--neutral-0);
  font-family: var(--mm--font-family--sans-serif);
  font-size: var(--mm--font-size--1);
  font-weight: var(--mm--font-weight--1);

  &[data-mm-theme="dark"] {
    background-color: var(--mm--color--black-0);
    color: var(--mm--color--neutral-9);
  }
}

table {
  border: var(--mm--border-width--2) solid var(--mm--color--neutral-0);
  border-collapse: collapse;
  font-size: var(--mm--font-size--0);
  table-layout: fixed;
}

thead,
tfoot,
th {
  background-color: var(--mm--color--neutral-7);
}

th,
td {
  border: var(--mm--border-width--1) solid var(--mm--color--neutral-4);
  padding: var(--mm--spacing--1);

  & ul {
    padding-inline-start: var(--mm--spacing--5);

    &:not(:last-child) {
      margin-block-end: var(--mm--spacing--4);
    }
  }
}

tr {
  block-size: var(--mm--sizing--5);
}

caption {
  font-size: var(--mm--font-size--0);
  padding: var(--mm--spacing--1);
}

img {
  block-size: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--mm--font-family--serif);
  font-weight: var(--mm--font-weight--1);
  line-height: var(--mm--line-height-1);
}

h2 {
  font-size: var(--mm--font-size--4);
}

aside,
blockquote {
  background-color: var(--mm--color--neutral-8);
  border-radius: var(--mm--border-radius--1);
  padding: var(--mm--spacing--4);
}

aside {
  &.paragraphs-container {
    gap: 1em;
  }

  & details {
    background-color: var(--mm--color--neutral-9);
    border: var(--mm--border-width--1) solid var(--mm--color--neutral-4);
    font-size: var(--mm--font-size--0);

    &>summary {
      background-color: var(--mm--color--neutral-7);
      padding: var(--mm--spacing--2) var(--mm--spacing--3);
    }

    &>div {
      padding: var(--mm--spacing--3);
    }
  }
}

blockquote {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & p:not(:last-child) {
    font-style: italic;
  }
}

details {
  &>summary {
    cursor: pointer;
    font-family: var(--mm--font-family--serif);
  }
}

a {
  color: var(--mm--global--link-color);

  &:hover,
  &:focus-visible {
    color: var(--mm--global--link-hover-color);
  }

  &:has(> img) {
    display: inline-block;
  }
}

.paragraphs-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

@media screen and (min-width: 481px) {

  aside,
  blockquote {
    inline-size: 80%;
    margin-inline: auto;
  }
}