---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE_TITLE } from "@utils/index";
---

<PageLayout pageTitle="About">
  <div class="paragraphs-container">
    <p>
      {SITE_TITLE} is a fantasy worldbuilding project involving writing, music composition,
      sound design, cinematography, and 3D modeling and animation. I created it as
      an opportunity to practice and partake in a wide variety of hobbies that I
      enjoy.
    </p>

    <ul>
      <li><a href="/bjj/">BJJ</a></li>
      <li><a href="/cooking/">Cooking</a></li>
      <li><a href="/the-50s/">The 50s</a></li>
    </ul>
  </div>
</PageLayout>
