---
import PageLayout from "@layouts/PageLayout.astro";
import { SITE_TITLE } from "@utils/index";
---

<PageLayout pageTitle="About">
  <div class="paragraphs-container">
    <p>
      {SITE_TITLE} is a fantasy worldbuilding project involving writing, music composition,
      sound design, cinematography, and 3D modeling and animation. I created it as
      an opportunity to practice and partake in a wide variety of hobbies that I
      enjoy.
    </p>

    <p>
      Outside of creative hobbies, I’ve recently (as of late 2024) started
      <a href="/bjj">studying Brazilian jiu-jitsu</a>. It doesn’t really fit in
      with the rest of the content here, but since this is my website, I can add
      anything I want. :)
    </p>

    <p>
      To see a list of my most cherished and influential pieces of media, check
      out my <a href="/favorites">Favorites</a>. For a general list of
      everything I’ve been reading, watching, and listening to, see my <a
        href="/media-log">Media Log</a
      >.
    </p>
  </div>
</PageLayout>
