---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <p>
      This is a small corner of my website where I track my training progress in
      Brazilian jiu-jitsu.
    </p>

    <table>
      <caption>Monthly Focus</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">December 2024</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td></td>
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td></td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Positions</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Closed Guard</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Submissions</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Armbar</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</PageLayout>

<style>
  tr {
    block-size: var(--mm--sizing--5);
  }
</style>
