---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <p>
      This is a small corner of my website where I track my training progress in
      Brazilian jiu-jitsu.
    </p>

    <h2>Principles</h2>

    <ul>
      <li>Maintain your alignment, then disrupt your opponent's alignment</li>
      <li>Exert continuous strategic pressure against your opponent</li>
      <li>Control your center of gravity and momentum</li>
      <li>Continually off-balance your opponent (kuzushi)</li>
      <li>Use every part of all your limbs</li>
      <li>Use your head to frame, post, and wedge</li>
      <li>Your spine can be a powerful frame</li>
      <li>Maintain knee-elbow connection</li>
      <li>Address the leading edge</li>
      <li>Meet or redirect your opponent’s force vector</li>
      <li>Turn your opponent’s frames into levers</li>
      <li>Use overwhelming force when attacking levers</li>
      <li>Maximize control using lever-based control and double trouble</li>
      <li>
        Maximize strength using ratchet levers and internal/external rotation
      </li>
      <li>Focus your force into a small, hard surface area</li>
      <li>Take a dominant angle</li>
      <li>Advance position using placeholders</li>
    </ul>

    <table>
      <caption>Monthly Focus</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">December 2024</th>
          <td>
            <ul>
              <li>Guard retention (starting from seated guard)</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td
            ><ul>
              <li>
                Arm posted behind you at 45 degrees (matching the force vector),
                leaving enough space to move your hips back
              </li>
              <li>Rear hip and knee on the mat</li>
              <li>
                Torso bladed toward the opponent (squaring your torso will make
                your non-posting shoulder a potential lever)
              </li>
              <li>
                Front arm maintaining knee-elbow connection but also free for
                defense
              </li>
              <li>
                Front leg tucked in (leaving it out makes it light and a
                potential lever)
              </li>
              <li>Strong posture, head up</li>
              <li>
                To move backward, lift your hip and slide your rear knee to your
                posted hand, replacing it as you switch to a track stance
                (scooting backward will leave your front leg out and vulnerable
                as a lever)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Bridge</th>
          <td
            ><ul>
              <li>
                Face your opponent’s force vector (e.g., a 45-degree angle when
                in bottom side control)
              </li>
              <li>
                Tuck your feet into your butt and stay on the balls of your feet
              </li>
              <li>
                Raise your feet slightly and then drive them explosively into
                the ground to bridge (plyometric rebound)
              </li>
              <li>When bridging at an angle, bridge onto your shoulder</li>
              <li>Maintain hip-shoulder alignment</li>
              <li>
                If you slide backward, bring your feet back under you to
                maintain your force production
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Escape</th>
          <td
            ><ul>
              <li>
                After a 45-degree bridge on two legs: stay tightly tucked and
                bring your butt backward while maintaining knee-elbow connection
              </li>
              <li>
                Small hip escape: post and push with your top leg as you bring
                your bottom knee in to create knee-elbow connection
              </li>
              <li>
                With partial inversion: post and push with your top leg to make
                space to bring your bottom knee in and recompose your guard
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Inversion and Half Granby</th>
          <td
            ><ul>
              <li>
                Use frames (e.g., feet on hips, straight arm on knee) throughout
                the movement to maintain distance between you and your opponent
              </li>
              <li>
                Your head and neck don’t touch the mat (you’re on your
                shoulders)
              </li>
              <li>
                As you invert, step onto the mat with your top foot, bringing it
                far away from your opponent (so they can’t control your leg)
              </li>
              <li>
                As you invert, maintain knee-elbow connection by bringing your
                bottom knee in
              </li>
              <li>
                Solid structure will allow you to support weight (e.g., your
                opponent pushing into you) on your spine while you’re inverted
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Heist</th>
          <td
            ><ul>
              <li>Start on all fours (knees and elbows)</li>
              <li>
                Post onto a hand and the opposite leg, then lift your hips as
                you step far and shoot your hips forward
              </li>
              <li>
                Maintain strong frames and posture (hips up, head up, posting on
                straight arm or elbow)
              </li>
              <li>
                “Peek out” and then turn in (push off your rear foot and turn
                onto your forward knee as you turn to face the opposite
                direction)
              </li>
            </ul>
          </td></tr
        >

        <tr>
          <th scope="row">Hip Switch</th>
          <td
            ><ul>
              <li>
                Start with one hip on the ground (body bladed toward the
                ground), posting on your bottom arm
              </li>
              <li>
                Post your top elbow as you rotate and cut your opposite hip to
                the floor
              </li>
              <li>
                Alternatively, face the ground with both arms posted and
                alternate your grounded hip (can combine with a windshield wiper
                motion)
              </li>
              <li>Useful for shedding frames and hooks</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Windshield Wiper</th>
          <td
            ><ul>
              <li>
                Useful for passing over a limb and shedding hooks, frames, and
                clamps
              </li>
              <li>
                Curl your heel toward your butt while shifting your weight and
                turning your leg over the top of something (e.g., post on your
                hands, bring your knee to the ground, and staple your opponent’s
                limb as you pivot over it)
              </li>
              <li>Can be done with one leg or both</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Backstep</th>
          <td
            ><ul>
              <li>
                Backstep: Post on the ball of one foot and the same-side hand,
                then step back with the other leg as you turn your hips over
              </li>
              <li>
                Long step: Post on one knee and the same-side elbow, then step
                back with the other leg as you turn your hips over (like a
                scorpion kick)
              </li>
              <li>
                After stepping back, keep your center of gravity between your
                posts to maintain base (stop your movement before you
                over-rotate)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Rolls</th>
          <td
            ><ul>
              <li>Head and neck don’t touch the ground</li>
              <li>
                Forward roll: start with one knee up, land with your
                rolling-side knee up and the other knee tucked in flat on the
                mat, and then get up into a track stance (similar to a technical
                standup)
              </li>
              <li>
                Backward roll: far leg (rolling-side leg) stays compact
                (providing an immediate base as it lands), near leg extends a
                bit so you can land in a ready, force-producing stance
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Eggbeater</th>
          <td
            ><ul>
              <li>
                To shed grips on your shins, rotate your lower legs (if your
                opponent is exerting downward force on your legs, purely
                vertical movement will be ineffective) while grip fighting with
                your hands
              </li>
              <li>
                Most effective when your legs are bent at a 90-degree angle
                (more difficult once your opponent has pushed them down to 45
                degrees)
              </li>
              <li>
                Switch your hips throughout the movement to increase your range
                of motion
              </li>
              <li>
                Rotate your lower legs in opposing directions, switching between
                outward and inward
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Shin Circle</th>
          <td
            ><ul>
              <li>
                To shed a hook on your leg, rotate your knee inward while
                driving it down and kicking yourself in the butt, then rotate
                the knee back out and drive your foot to the mat
              </li>
              <li>
                Keep the circling leg heavy throughout the movement (if you make
                it light, it will be a lever for your opponent)
              </li>
              <li>
                Keep your center of gravity above your circling knee (don’t
                shift it forward past your base)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Takedowns</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Wrestling Stance</th>
          <td
            ><ul>
              <li>
                As you move, keep your center of gravity between your legs and
                your weight going straight down (don’t overcommit to either leg)
              </li>
              <li>
                A low stance (your head lower than your opponent’s head or at
                the same level) is better for both offense and defense
              </li>
              <li>
                Standing tall is mainly for when you want to bait your opponent
                into attacking (e.g., if you’re great at defense)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Double Leg Takedown</th>
          <td
            ><ul>
              <li>
                Breakfall: Hang onto your opponent by holding their hip with
                your top hand and folding your chest onto their back. Soften
                your fall by reaching far out to the ground with your other arm
                (posting it too close to your landing spot may cause injury) and
                then slapping the ground with the first arm.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td>
            In seated guard:
            <ul>
              <li>Don’t reach your arms out</li>
              <li>
                Grab the closest part of your opponent (e.g., their fingers)—if
                you reach for their sleeve, they’ll be able to grip you
              </li>
              <li>
                Use your grips on their hands to clear the way so you can grip
                their collar, the back of their head, or their arm 2-on-1
              </li>
              <li>
                Grip progression: fingers → sleeve or wrist (lever to shoulder)
                → collar or head (lever to torso)
              </li>
              <li>
                If your opponent is able to grip you, grip-match them (don’t let
                them grip you for free, battle for an advantage)
              </li>
            </ul></td
          >
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td>
            In seated guard:
            <ul>
              <li>
                Block your opponent’s leading edge (the knee if they’re standing
                and circling you) with your hand, post with your other hand, and
                continually adjust your angle to face your opponent, switching
                your hips and the framing arm when necessary
              </li>
              <li>
                From here, you can pull to another guard (e.g., shin-to-shin,
                koala, De La Riva, tripod)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td>
            In seated guard:
            <ul>
              <li>
                If your opponent is in front of you and their knee starts
                collapsing your straight arm (turning your frame into a lever),
                shorten it to an elbow frame to turn the lever back into a frame
              </li>
              <li>
                If your opponent has a dominant angle and their knee starts
                collapsing your straight arm, don’t turn to face them (turning
                in will give up the guard pass)
                <ul>
                  <li>
                    Half Granby: As your blocking frame starts collapsing,
                    collapse your posting arm (arm frame → elbow frame →
                    shoulder frame) and put your shoulder to the mat so that
                    you’re lying sideways and turned away from your opponent,
                    giving your framing arm room to straighten.
                  </li>
                  <li>Hip escape:</li>
                </ul>
              </li>
              <li>
                Frame against the leading edge (often the knee/shin or
                shoulder/upper arm), then mobilize your hips to reset your angle
              </li>
              <li>
                If your hips get turned, maintain posture by turning your torso
                to match
              </li>
            </ul>

            In recumbent guard:
            <ul>
              <li>
                Use knee-elbow connection to prevent guard passes (adjust your
                elbow placement based on the situation—e.g., protecting against
                a knee wedge versus an underhook)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Seated Guard</th>
          <td
            ><ul>
              <li>Feet close together</li>
              <li>
                Hands above your feet, not behind (your hands are your first
                layer of defense)
              </li>
              <li>
                Elbows framed inside your shins to maintain knee-elbow
                connection and a strong structure
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Guard Passing</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td
            ><ul>
              <li>
                In general, you want to clear grips, close the distance, and
                stay close to pass guard. This is generally easier to do in a
                gi. No-gi tends to use a tighter style of guard passing (body
                locks, underhooks) to maintain connection.
              </li>
              <li>
                Guard pass categories: around the legs, through the legs, under
                the legs
              </li>
              <li>
                Think of passing techniques as methods of transition between
                staging positions (positions of advantage that provide
                stability)—when your path seems blocked, you may see openings
                toward other staging positions
              </li>
            </ul>

            Guard passing heuristics:
            <ul>
              <li>Make your opponent face away from you</li>
              <li>Bring one side of your opponent’s hips to the mat</li>
              <li>
                Maneuver around your opponent’s frames (attack them at angles
                rather than straight on)
              </li>
              <li>
                Lift your weight slightly off a frame to make it easier to clear
              </li>
              <li>Maintain knee-elbow connection to protect against attacks</li>
              <li>Separate your opponent’s knees from their chest</li>
              <li>
                Stay on top (don’t just stay down if your opponent is in the
                process of sweeping you)
              </li>
              <li>
                Work through the layers of the guard (feet → knees → hips →
                arms)
              </li>
              <li>
                Avoid leg entanglements (keep your feet out of range, strip
                grips on your leg, tripod and wedge against your opponent’s body
                with your head, drop your leg to the ground, etc.)
              </li>
              <li>
                “2 steps forward, 1 step back”: Transition to a different
                staging position if you’re about to lose your position
              </li>
              <li>
                Stay on the balls of your feet so you can move faster and drive
                into your opponent
              </li>
              <li>Keep your opponent’s feet off your torso</li>
              <li>
                Get the far-side underhook (it keeps you close to your opponent,
                makes it more difficult for them to frame, and keeps you from
                being bumped forward), but don’t reach for it if you haven’t
                passed or dealt with at least one of your opponent’s legs (that
                will put you into closed guard)
              </li>
              <li>
                Don’t let your opponent underhook you (under the arm, around the
                waist, or under the leg)--block their arm and exert your own
                underhook
              </li>
              <li>Get the crossface</li>
              <li>
                Control your opponent’s hips (e.g., underhook their waist to
                prevent them from hip escaping)
              </li>
              <li>
                Fatigue your opponent (some positions are inherently tiring for
                the bottom person—e.g., getting stacked)
              </li>
              <li>
                Learn to pass while standing up (you have better mobility than
                when you’re kneeling)
              </li>
              <li>
                Control your opponent’s bottom leg (makes it hard for them to
                make space or stand up—they need to retract their bottom leg to
                stand up)
              </li>
              <li>
                Control your opponent’s bottom arm (hard to stand up without
                posting on your bottom arm)
              </li>
              <li>
                Win the inside position (push the insides of your opponent’s
                legs, as the adductors tend to be relatively weak). Clear leg
                frames from the inside before moving to the outside of your
                opponent’s legs.
              </li>
              <li>
                Use windshield wipers to pass over limbs without making large
                movements
              </li>
              <li>Use your head to wedge and post</li>
              <li>
                Keep your legs just within reach (not close enough for your
                opponent to get good grips but not too far that you have poor
                mobility and leave your arms unsupported by the rest of your
                body)—if your opponent reaches for a grip, they’ll open up for
                you to get closer and get more control
              </li>
              <li>
                Use posts to maintain base and active posts to redirect your
                pressure as needed
              </li>
              <li>
                In general, you want your elbows/knees tight and arms/feet out
                wide when passing (tight for control, wide for posting)
              </li>
              <li>
                Take your opponent out of their element (e.g., make them switch
                from seated guard to recumbent guard and vice versa, pass
                outside their legs if they try to put their legs inside yours)
              </li>
              <li>
                Catch your opponent between supine and seated (e.g., spin your
                opponent around while they only have one point of contact with
                the floor, close the distance as your opponent is sitting up)
              </li>
            </ul>

            Guard passing postures:
            <ul>
              <li>
                Combat base - one leg leading + elbow-knee connection, other leg
                back for mobility (can be standing or kneeling)
              </li>
              <li>
                Full squat - useful when your opponent has good upper body
                control of you while in gi (squatting closes the space between
                your armpits and legs)
              </li>
              <li>
                Kneeling - prevents leg entanglements, can also be used in half
                guard and closed guard; poor mobility and bad for offense
              </li>
              <li>
                Tripod - useful for keeping pressure on your opponent’s torso
                while walking your feet up above their knees (e.g., when your
                opponent has a knee shield); can also block your opponent’s knee
                from their chest and collapse frames
              </li>
              <li>
                Tall posture - useful for putting pressure on an opponent’s
                collar grip
              </li>
              <li>
                Gorilla posture - useful for moving around the legs when
                passing; hips over feet (for mobility), shoulders forward of or
                above hands (so you can push weight down)
              </li>
              <li>
                Knee through (cross-knee or near-side) - one knee stapling the
                opponent’s bottom leg, the other leg stepped up, hovering your
                weight over your opponent
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Escapes</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Mount</th>
          <td><ul></ul> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    h2 {
      text-align: center;
    }
  </style>
</PageLayout>
