---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <h2>Principles</h2>

    <ul>
      <li>Maintain your alignment, then disrupt your opponent's alignment</li>
      <li>Exert continuous strategic pressure against your opponent</li>
      <li>Control your center of gravity and momentum, have a mobile base</li>
      <li>Continually off-balance your opponent (kuzushi)</li>
      <li>Take a dominant angle</li>
      <li>Attain inside channel control</li>
      <li>Use every part of all your limbs</li>
      <li>Use your head to frame, wedge, and post (free up your arms)</li>
      <li>Your spine can be a powerful frame</li>
      <li>Maintain knee-elbow connection</li>
      <li>Address the leading edge</li>
      <li>
        Meet or redirect (apply force from a different angle; or reduce pressure
        and collapse the frame) your opponent’s force vector
      </li>
      <li>Turn your opponent’s frames into levers</li>
      <li>Use overwhelming force when attacking levers</li>
      <li>
        Maximize control using lever-based control and far-side limb control
        (rotational control)
      </li>
      <li>
        Maximize strength using ratchet levers and internal/external rotation
      </li>
      <li>Focus your force into a small, hard surface area</li>
      <li>Advance position using placeholders</li>
      <li>
        Stay on your side for stronger lateral movement (your body is stronger
        on the sagittal plane)
      </li>
      <li>
        Balance between applying pressure and maintaining base: tight with
        proximal extremities (knees, elbows), wide with distal extremities
        (feet, hands)
      </li>
      <li>Move yourself if you can’t move your opponent</li>
    </ul>

    <table>
      <caption>Focus Areas</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">BJJ</th>
          <th scope="col">Fitness</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">January 2025</th>
          <td>
            <ul>
              <li>Toreando Pass</li>
              <li>Mount</li>
              <li>Collar Sleeve Guard</li>
              <li>Closed Guard</li>
            </ul>
          </td>
          <td>
            <strong>Goals</strong>
            <ul>
              <li>Pike</li>
            </ul>

            <ul>
              <li>
                <strong>Warmup:</strong> Alt. shin box get-ups w/ hip internal rotation
                (x10), ATG split squat (x10), alt. Cossack squats (x10)
              </li>
              <li>
                <strong>Monday:</strong> Pseudo planche push-up (2x6, 4-2-1-3 + 10s)
              </li>
              <li>
                <strong>Tuesday:</strong> Seated pike leg lift (2x6, 1-0-1-6 + 10s)
              </li>
              <li><strong>Wednesday:</strong> Shrimp squat (2x6, 4-0-1-3)</li>
              <li>
                <strong>Thursday:</strong> Seated straddle leg lift (2x6, 1-0-1-6
                + 10s)
              </li>
              <li>
                <strong>Friday:</strong> Reverse plank extension (2x6, 1-0-1-6 +
                10s)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td
            ><ul>
              <li>
                Arm posted behind you at 45 degrees (matching the force vector),
                leaving enough space to move your hips back
              </li>
              <li>Rear hip and knee on the mat</li>
              <li>
                Torso bladed toward the opponent (squaring your torso will make
                your non-posting shoulder a potential lever)
              </li>
              <li>
                Front arm maintaining knee-elbow connection but also free for
                defense
              </li>
              <li>
                Front leg tucked in (leaving it out makes it light and a
                potential lever)
              </li>
              <li>Strong posture, head up</li>
              <li>
                To move backward, lift your hip and slide your rear knee to your
                posted hand, replacing it as you switch to a track stance
                (scooting backward will leave your front leg out and vulnerable
                as a lever)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Bridge</th>
          <td
            ><ul>
              <li>
                Face your opponent’s force vector (e.g., a 45-degree angle when
                in bottom side control)
              </li>
              <li>
                Tuck your feet into your butt and stay on the balls of your feet
              </li>
              <li>
                Raise your feet slightly and then drive them explosively into
                the ground to bridge (plyometric rebound)
              </li>
              <li>When bridging at an angle, bridge onto your shoulder</li>
              <li>Maintain hip-shoulder alignment</li>
              <li>
                If you slide backward, bring your feet back under you to
                maintain your force production
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Escape</th>
          <td
            ><ul>
              <li>
                After a 45-degree bridge on two legs: stay tightly tucked and
                bring your butt backward while maintaining knee-elbow connection
              </li>
              <li>
                Small hip escape: post and push with your top leg as you bring
                your bottom knee in to create knee-elbow connection
              </li>
              <li>
                With partial inversion: post and push with your top leg to make
                space to bring your bottom knee in and recompose your guard
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Inversion and Half Granby</th>
          <td
            ><ul>
              <li>
                Use frames (e.g., feet on hips, straight arm on knee) throughout
                the movement to maintain distance between you and your opponent
              </li>
              <li>
                Your head and neck don’t touch the mat (you’re on your
                shoulders)
              </li>
              <li>
                As you invert, step onto the mat with your top foot, bringing it
                far away from your opponent (so they can’t control your leg)
              </li>
              <li>
                As you invert, maintain knee-elbow connection by bringing your
                bottom knee in
              </li>
              <li>
                Solid structure will allow you to support weight (e.g., your
                opponent pushing into you) on your spine while you’re inverted
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Heist</th>
          <td
            ><ul>
              <li>Start on all fours (knees and elbows)</li>
              <li>
                Post onto a hand and the opposite leg, then lift your hips as
                you step far and shoot your hips forward
              </li>
              <li>
                Maintain strong frames and posture (hips up, head up, posting on
                straight arm or elbow)
              </li>
              <li>
                “Peek out” and then turn in (push off your rear foot and turn
                onto your forward knee as you turn to face the opposite
                direction)
              </li>
            </ul>
          </td></tr
        >

        <tr>
          <th scope="row">Hip Switch</th>
          <td
            ><ul>
              <li>
                Start with one hip on the ground (body bladed toward the
                ground), posting on your bottom arm
              </li>
              <li>
                Post your top elbow as you rotate and cut your opposite hip to
                the floor
              </li>
              <li>
                Alternatively, face the ground with both arms posted and
                alternate your grounded hip (can combine with a windshield wiper
                motion)
              </li>
              <li>Useful for shedding frames and hooks</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Windshield Wiper</th>
          <td
            ><ul>
              <li>
                Useful for passing over a limb and shedding hooks, frames, and
                clamps
              </li>
              <li>
                Curl your heel toward your butt while shifting your weight and
                turning your leg over the top of something (e.g., post on your
                hands, bring your knee to the ground, and staple your opponent’s
                limb as you pivot over it)
              </li>
              <li>Can be done with one leg or both</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Backstep</th>
          <td
            ><ul>
              <li>
                Backstep: Post on the ball of one foot and the same-side hand,
                then step back with the other leg as you turn your hips over
              </li>
              <li>
                Long step: Post on one knee and the same-side elbow, then step
                back with the other leg as you turn your hips over (like a
                scorpion kick)
              </li>
              <li>
                After stepping back, keep your center of gravity between your
                posts to maintain base (stop your movement before you
                over-rotate)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Rolls</th>
          <td
            ><ul>
              <li>Head and neck don’t touch the ground</li>
              <li>
                Forward roll: start with one knee up, land with your
                rolling-side knee up and the other knee tucked in flat on the
                mat, and then get up into a track stance (similar to a technical
                standup)
              </li>
              <li>
                Backward roll: far leg (rolling-side leg) stays compact
                (providing an immediate base as it lands), near leg extends a
                bit so you can land in a ready, force-producing stance
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Eggbeater</th>
          <td
            ><ul>
              <li>
                To shed grips on your shins, rotate your lower legs (if your
                opponent is exerting downward force on your legs, purely
                vertical movement will be ineffective) while grip fighting with
                your hands
              </li>
              <li>
                Most effective when your legs are at a 90-degree angle (more
                difficult once your opponent has pushed them down to 45 degrees)
              </li>
              <li>
                Switch your hips throughout the movement to increase your range
                of motion
              </li>
              <li>
                Rotate your lower legs in opposing directions, switching between
                outward and inward
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Shin Circle</th>
          <td
            ><ul>
              <li>
                To shed a hook on your leg, rotate your knee inward while
                driving it down and kicking yourself in the butt, then rotate
                the knee back out and drive your foot to the mat
              </li>
              <li>
                Keep the circling leg heavy throughout the movement (if you make
                it light, it will be a lever for your opponent)
              </li>
              <li>
                Keep your center of gravity above your circling knee (don’t
                shift it forward past your base)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Grips - Gi</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td>
            <ul>
              <li>A grip should enhance your level of control</li>
              <li>
                Grip as close to a lever point (a joint or the end of the lever)
                as possible (e.g., top of the spine, wrist, elbow, knee)
              </li>
              <li>
                To maximize control, roll and rotate (do both when possible) the
                gripped material and remove slack (e.g., when gripping a sleeve,
                roll your hand to your knuckles and frame it against your
                opponent’s wrist)
              </li>
              <li>
                Rolling and rotating the material forces your opponent to break
                alignment (due to needing to address multiple directions) when
                attempting to break a grip
              </li>
              <li>
                Be prepared to release the grip and regrip if your opponent is
                breaking your grip
              </li>
              <li>
                Grip levels: benign, dangerous (providing lever control or the
                ability to effectively push and pull), deadly (leading to a
                choke)
              </li>
              <li>
                Strategically, you can start with a benign grip and convert it
                into a better one
              </li>
              <li>
                Gi grips aren’t always superior to no-gi (e.g., elbow grip), but
                the gi grants a margin of error if you miss your initial contact
                point
              </li>
            </ul>

            Grip breaking
            <ul>
              <li>
                To break a grip, break the structure of the gripping limb, then
                take the material in the direction where there is a gap
              </li>
              <li>
                Don’t try to break a grip if your alignment is broken (your grip
                break will be ineffective)
              </li>
            </ul>

            Grip fighting
            <ul>
              <li>Directions of control: sagittal, lateral, up/down</li>
              <li>
                In the engagement phase, you want to control your opponent’s
                forward/backward distance, posture, and lateral movement
              </li>
              <li>
                Be a diverse grip fighter—a no-gi grip may offer better lever
                control than a gi grip (e.g., ankle vs pant cuff) and be faster
                to establish
              </li>
              <li>
                Gripping your opponent’s fingers can be useful (their hands are
                often the closest layer; prevents them from regripping)
              </li>
            </ul>

            Grip fighting from seated guard
            <ul>
              <li>
                Attack your opponent’s legs (idiot sweep, hook or block a leg),
                hands (fingers, wrists, sleeves), and head (collar tie) to
                access their collar
              </li>
              <li>
                Once you establish a collar or sleeve grip, lift your hips and
                pull back to break your opponent’s posture forward and
                off-balance them (hang your weight off them like a wrecking
                ball), then transition to a recumbent guard or wrestle-up
              </li>
              <li>
                If your opponent establishes a collar or sleeve grip, grip match
                if you can, maintain knee-elbow connection, lift your hips and
                pull back to off-balance your opponent, then transition to a
                recumbent guard or wrestle-up
              </li>
              <li>
                If your opponent establishes a same-side pant cuff grip, break
                the grip or transition to a recumbent guard so you can establish
                leg frames
              </li>
              <li>
                Beware grips from your opponent that grant them rotational
                control (e.g., cross-side pant cuff, same-side pant cuff +
                same-side collar) and don’t move into a position that will let
                them take advantage of it (you might need to switch your base)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Collar Grip</th>
          <td
            ><ul>
              <li>
                Ideally, at the collarbone rather than at the pec (uncomfortable
                for your opponent to drive into, threatens a choke, more
                material control and body leverage)
              </li>
              <li>
                Roll the material into your fingers and rotate your palm up
              </li>
            </ul>

            Same-side collar grip
            <ul>
              <li>
                Generally not useful by itself (not much rotational control or
                offensive potential)—better when complemented with opposite
                sleeve control and/or a guard
              </li>
              <li>
                Useful for posture control (e.g., pulling your opponent down in
                closed guard)
              </li>
              <li>
                Useful when passing (e.g., offers rotational control during a
                knee cut)
              </li>
              <li>
                Generally, same-side collar grip is superior to cross-collar
                when on top (when you’re more mobile and able to change angles)
              </li>
            </ul>

            Cross-collar grip
            <ul>
              <li>
                Useful for pulling your opponent across (using a rowing motion
                to create a dominant angle and expose their back)—offers more
                rotational control and offensive potential than the same-side
                collar grip
              </li>
            </ul>

            Grip breaks
            <ul>
              <li>
                Prevention: push the elbow to redirect your opponent’s arm as
                they reach
              </li>
              <li>
                Back away until your opponent’s arm is straight, then push their
                elbow up using a Y-block with one or both of your hands (FOR
                SAFETY, don’t pop the elbow up if your opponent isn’t aware of
                what’s happening)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Sleeve Grip</th>
          <td
            ><ul>
              <li>
                Cuff grip: roll the sleeve into your fingers and twist outward,
                removing slack and framing your fist against your opponent’s
                forearm

                <ul>
                  <li>
                    Faster to attain than the pistol grip and more popular in
                    general
                  </li>
                </ul>
              </li>
              <li>
                Pistol grip: hook the sleeve with your index finger, then gather
                a fistful of material, removing as much slack as possible and
                leaving your thumb out for safety—twist your fist to block your
                opponent’s arm with your ulnar bone (make your wrists
                perpendicular)

                <ul>
                  <li>Superior to cuff grip in removing slack</li>
                </ul>
              </li>
            </ul>

            Same-side sleeve grip
            <ul>
              <li>
                Useful for moving your opponent’s arm away from their body
              </li>
              <li>Useful for pinning your opponent’s hand to their body</li>
              <li>
                Useful for controlling your opponent’s arm (prevent them from
                posting, set up an arm drag, etc.)—strong, end-of-lever control
              </li>
              <li>
                Limited control when used by itself—better when combined with a
                hinge on your opponent (e.g., foot on their hip or bicep)
              </li>
            </ul>

            Cross-sleeve grip
            <ul>
              <li>
                Useful for pulling your opponent’s arm across their body and
                exposing their back—if using a cuff grip, you can allow for more
                initial slack in the material so you can rotate the grip to the
                other side of your opponent’s wrist and then pull their arm
                across
              </li>
              <li>
                Can be useful for defense through pushing your opponent’s arm
                away from their body, but you must turn and maintain
                hip-shoulder alignment (don’t just pass your arm over your
                centerline)
              </li>
              <li>
                Can be combined with an armpit grip for posture control
                (rotation enables the armpit grip to exert lever control over
                the spine)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Pant Cuff Grip</th>
          <td
            ><ul>
              <li>
                Roll the pant cuff into your fingers and twist outward, removing
                slack and framing your fist against your opponent’s shin
              </li>
              <li>
                In general, the contact point for a pistol grip on a pant cuff
                is too narrow to be useful (easy for your opponent to pummel
                their leg)
              </li>
              <li>
                Not useful for Toreando-style passing (in recumbent guard, pant
                cuffs tend to be high on the shin, so your opponent can easily
                get their feet onto your biceps)—more useful for
                deflection-style passing
              </li>
              <li>
                Useful as an anchor point (combined with a straight arm frame)
                as you maneuver your body (you’re unlikely to overpower your
                opponent’s leg with your arm)
              </li>
              <li>
                Can be useful for strongly controlling your opponent’s legs from
                bottom position, aiding with sweeps (e.g., in half guard)—gi
                grips take time to set up, though, so they’re not always the
                right choice
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Knee Grip</th>
          <td
            ><ul>
              <li>
                Roll the material into your fingers and then push the heel of
                your palm into the inside of your opponent’s knee (starts like a
                cuff grip and ends like a pistol grip)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Waist Grip</th>
          <td>
            Front waist grip (belt or pants)
            <ul>
              <li>
                Purely defensive (e.g., anchoring your arm during a guard pass
                if your opponent is gripping your sleeve)
              </li>
            </ul>

            Back waist grip (belt or pants)
            <ul>
              <li>
                Prefer the belt, as the pants grant less leverage (especially if
                they start to come off—PERSONAL ETIQUETTE: grip the belt to
                avoid pulling your opponent’s pants off)
              </li>
              <li>
                For the most control, grab the belt, gi, and pants
                simultaneously, removing the maximum amount of slack (from
                below: four fingers in the belt, thumb pulling the pants up to
                be grabbed by the fingers)
              </li>
            </ul>

            Belt grip
            <ul>
              <li>
                Grab the belt and gi simultaneously (the belt by itself can
                shift around)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Takedowns</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td>
            Wrestling stance
            <ul>
              <li>
                As you move, keep your center of gravity between your legs and
                your weight going straight down (don’t overcommit to either leg)
              </li>
              <li>
                A low stance (your head lower than your opponent’s head or at
                the same level) is better for both offense and defense
              </li>
              <li>
                Standing tall is mainly for when you want to bait your opponent
                into attacking (e.g., if you’re great at defense)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Double Leg Takedown</th>
          <td
            ><ul>
              <li>
                Breakfall: Hang onto your opponent by holding their hip with
                your top hand and folding your chest onto their back. Soften
                your fall by reaching far out to the ground with your other arm
                (posting it too close to your landing spot may cause injury) and
                then slapping the ground with the first arm.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td>
            In seated guard:
            <ul>
              <li>Don’t reach your arms out</li>
              <li>
                Grab the closest part of your opponent (e.g., their fingers)—if
                you reach for their sleeve, they’ll be able to grip you
              </li>
              <li>
                Use your grips on their hands to clear the way so you can grip
                their collar, the back of their head, or their arm 2-on-1
              </li>
              <li>
                Grip progression: fingers → sleeve or wrist (lever to shoulder)
                → collar or head (lever to torso)
              </li>
              <li>
                If your opponent is able to grip you, grip-match them (don’t let
                them grip you for free, battle for an advantage)
              </li>
            </ul></td
          >
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td>
            In seated guard:
            <ul>
              <li>
                Block your opponent’s leading edge (the knee if they’re standing
                and circling you) with your hand, post with your other hand, and
                continually adjust your angle to face your opponent, switching
                your hips and the framing arm when necessary
              </li>
              <li>
                From here, you can pull to another guard (e.g., shin-to-shin, De
                La Riva, tripod)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td>
            In seated guard:
            <ul>
              <li>
                If your opponent is in front of you and their knee starts
                collapsing your straight arm (turning your frame into a lever),
                shorten it to an elbow frame to turn the lever back into a frame
              </li>
              <li>
                If your opponent has a dominant angle and their knee starts
                collapsing your straight arm, don’t turn to face them (turning
                in will give up the guard pass)
                <ul>
                  <li>
                    Half Granby: As your blocking frame starts collapsing,
                    collapse your posting arm (arm frame → elbow frame →
                    shoulder frame) and put your shoulder to the mat so that
                    you’re lying sideways and turned away from your opponent,
                    giving your framing arm room to straighten.
                  </li>
                  <li>Hip escape:</li>
                </ul>
              </li>
              <li>
                Frame against the leading edge (often the knee/shin or
                shoulder/upper arm), then mobilize your hips to reset your angle
              </li>
              <li>
                If your hips get turned, maintain posture by turning your torso
                to match
              </li>
            </ul>

            In recumbent guard:
            <ul>
              <li>
                Use knee-elbow connection to prevent guard passes (adjust your
                elbow placement based on the situation—e.g., protecting against
                a knee wedge versus an underhook)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Open Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td
            ><ul>
              <li>
                Tends to be good for lighter grapplers since you can manage
                distance with your legs
              </li>
              <li>
                In the engagement phase, start in seated guard so you can grip
                fight—once you establish good grips or feel threatened, switch
                to a recumbent guard so you can engage your legs more
              </li>
              <li>
                Upper body controls tend to facilitate: posture control,
                overhead sweeps, sideways sweeps, triangle, omoplata
              </li>
              <li>
                Lower body controls tend to facilitate: inversions, back takes,
                sit-up sweeps, leg entanglements
              </li>
              <li>
                Heuristics for taking upper body controls on your opponent: if
                they’re leaning forward with their feet far from you; if they’re
                controlling your legs
              </li>
              <li>
                Heuristics for taking lower body controls on your opponent: if
                they’re posturing tall; if they step in with their leg; if
                they’re maintaining strong elbow-knee connection
              </li>
              <li>
                Heuristics for retaining guard versus attacking: if your
                opponent has good grips on your legs; if you can’t bring both
                your legs in front of you
              </li>
            </ul>

            Guard retention
            <ul>
              <li></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Seated Guard</th>
          <td
            ><ul>
              <li>Feet close together</li>
              <li>
                Hands above your feet, not behind (your hands are your first
                layer of defense)
              </li>
              <li>
                Elbows framed inside your shins to maintain knee-elbow
                connection and a strong structure
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Collar Sleeve Guard</th>
          <td
            ><ul>
              <li>
                Same-side sleeve grip + cross-collar grip—ideally with foot on
                hip (same side as collar/sleeve control) + foot on bicep
              </li>
              <li>
                Links well with: De La Riva guard, spider guard, lasso guard,
                closed guard
              </li>
              <li>Primary attacks: triangle, omoplata</li>
            </ul>

            <ul>
              <li>
                Primary sequence: Cross-grip your opponent’s collar at their
                collar bone (grants pull/push control and works as a frame).
                Grip their sleeve and pull their arm away from their body by
                pulling your elbow toward your hip. Fall to your side (to the
                gripped collar side) and put one foot on their hip and pummel
                the other foot onto their bicep. Stretch their arm by pushing
                their hip with your foot and extending your body. Put your knee
                inside their outstretched arm. Pull your opponent forward as you
                lift your hips and shoot into the triangle.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Clamp-Based Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Closed Guard</th>
          <td
            ><ul>
              <li></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Guard Passing</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td
            ><ul>
              <li>
                In general, you want to clear grips, close the distance, and
                stay close to pass guard. This is generally easier to do in a
                gi. No-gi tends to use a tighter style of guard passing (body
                locks, underhooks) to maintain connection.
              </li>
              <li>
                Guard pass categories: around the legs, through the legs, under
                the legs
              </li>
              <li>
                Think of passing techniques as methods of transition between
                staging positions (positions of advantage that provide
                stability)—when your path seems blocked, you may see openings
                toward other staging positions
              </li>
            </ul>

            Guard passing heuristics:
            <ul>
              <li>Make your opponent face away from you</li>
              <li>Bring one side of your opponent’s hips to the mat</li>
              <li>
                Maneuver around your opponent’s frames (attack them at angles
                rather than straight on)
              </li>
              <li>
                Lift your weight slightly off a frame to make it easier to clear
              </li>
              <li>Maintain knee-elbow connection to protect against attacks</li>
              <li>Separate your opponent’s knees from their chest</li>
              <li>
                Stay on top (don’t just stay down if your opponent is in the
                process of sweeping you)
              </li>
              <li>
                Work through the layers of the guard (feet → knees/shins → hips
                → arms), beating each one with your shoulders, knees, and hips
              </li>
              <li>
                When transitioning to a different staging position, stay on the
                same guard layer or advance to a further layer
              </li>
              <li>
                Avoid leg entanglements (keep your feet out of range, strip
                grips on your leg, tripod and wedge against your opponent’s body
                with your head, drop your leg to the ground, etc.)
              </li>
              <li>
                “2 steps forward, 1 step back”: transition to a different
                staging position if you’re about to lose your position
              </li>
              <li>
                Stay on the balls of your feet so you can move faster and drive
                into your opponent
              </li>
              <li>Keep your opponent’s feet off your torso</li>
              <li>
                Get the far-side underhook (keeps you close to your opponent,
                makes it difficult for them to frame, and keeps you from being
                bumped forward), but don’t reach for it if you haven’t dealt
                with at least one of your opponent’s legs (risk of getting
                pulled into closed guard)
              </li>
              <li>
                Don’t let your opponent underhook you (under the arm, around the
                waist, or under the leg)--block their arm and underhook them
              </li>
              <li>Get the crossface</li>
              <li>
                Control your opponent’s hips (e.g., underhook their waist to
                prevent hip escaping)
              </li>
              <li>
                Fatigue your opponent (some positions are inherently tiring for
                the bottom person—e.g., getting stacked)
              </li>
              <li>
                Learn to pass while standing (you have better mobility than when
                you’re kneeling)
              </li>
              <li>
                Control your opponent’s bottom leg (makes it hard for them to
                make space or stand up—they need to retract their bottom leg to
                stand)
              </li>
              <li>
                Control your opponent’s bottom arm (hard to stand up without
                posting on your bottom arm)
              </li>
              <li>
                Win the inside position (push the insides of your opponent’s
                legs, as the adductors tend to be relatively weak); clear leg
                frames from the inside before moving to the outside of your
                opponent’s legs
              </li>
              <li>
                Use windshield wipers to pass over limbs without making large
                movements
              </li>
              <li>Use your head to wedge and post</li>
              <li>
                Keep your legs just within reach (not close enough for your
                opponent to get good grips but not too far that you have poor
                mobility and leave your arms unsupported)—if your opponent
                reaches for a grip, they’ll open up for you to get closer and
                attain more control
              </li>
              <li>
                Use posts to maintain base and active posts to redirect your
                pressure as needed
              </li>
              <li>
                In general, you want your elbows/knees tight and hands/feet out
                wide when passing (tight for control, wide for posting)
              </li>
              <li>
                Take your opponent out of their element (e.g., make them switch
                from seated guard to recumbent guard and vice versa, pass
                outside their legs if they try to put their legs inside yours)
              </li>
              <li>
                Catch your opponent between supine and seated (e.g., spin them
                while they have only one point of contact with the floor, close
                the distance as they sit up)
              </li>
            </ul>

            Guard passing postures:
            <ul>
              <li>
                Combat base - one leg leading plus knee-elbow connection, other
                leg back for mobility (can be standing or kneeling)
              </li>
              <li>
                Full squat - useful when your opponent has upper body control of
                you in gi (squatting closes the space between your armpits and
                legs)
              </li>
              <li>
                Kneeling - prevents leg entanglements, can also be used in half
                guard and closed guard; poor mobility and bad for offense
              </li>
              <li>
                Tripod - useful for pressuring your opponent’s torso while
                walking your feet up above their knees (e.g., when they have a
                knee shield); can also block your opponent’s knee from their
                chest and collapse frames
              </li>
              <li>
                Tall posture - useful for pressuring an opponent’s collar grip
              </li>
              <li>
                Gorilla posture - useful for moving around the legs when
                passing; hips over feet (for mobility), shoulders forward of or
                above hands (so you can push weight down)
              </li>
              <li>
                Knee through (cross-knee or near-side) - one knee stapling your
                opponent’s bottom leg, other leg stepped up, your weight
                hovering over your opponent
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Around-the-Legs Passing in Gi</th>
          <td
            ><ul>
              <li>
                Generally favors taller people (harder for your opponent to
                reach their feet to your biceps or get solid grips)
              </li>
            </ul>

            Primary sequence
            <ul>
              <li>
                Grip inside your opponent’s shins just below the knee. Push
                their knees down, forward, and outward. Push one knee up while
                moving laterally and pulling the other knee across your body. As
                you pass their foot, punch the leg across while pressuring with
                your other arm. Wedge the leg-punching shoulder into their
                chest. Establishing side control, block their hips with the
                other arm.
              </li>
              <li>
                The inside shin grip and outward pressure prevent your opponent
                from pummeling their feet onto your biceps
              </li>
              <li>Stay close and keep your weight above your opponent</li>
            </ul>

            Stripping grips
            <ul>
              <li></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    h2 {
      text-align: center;
    }
  </style>
</PageLayout>
