---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <p>
      This is a small, tucked-away corner of my website where I track my
      training progress in Brazilian jiu-jitsu.
    </p>

    <h2>Principles</h2>

    <ul>
      <li>Alignment over everything else / no scrambles or “counters”</li>
      <li>Maintain your alignment, then disrupt your opponent's alignment</li>
      <li>Control your center of gravity and momentum</li>
      <li>Continually off-balance your opponent (kuzushi)</li>
      <li>
        Use every part of all your limbs / use your head to frame, post, and
        wedge / maintain knee-elbow connection
      </li>
      <li>Address the leading edge / meet or redirect the force vector</li>
      <li>Take a dominant angle</li>
      <li>
        Turn your opponent’s frames into levers / use overwhelming force when
        attacking levers
      </li>
      <li>
        Maximize strength using lever-based control, ratchet levers, and
        internal/external rotation
      </li>
      <li>Focus your force into a small, hard surface area</li>
      <li>Advance position using placeholders</li>
      <li>Exert continuous strategic pressure against your opponent</li>
    </ul>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td
            ><ul>
              <li>
                Arm posted behind you at 45 degrees (matching the force vector),
                leaving enough space to move your hips back
              </li>
              <li>Rear hip and knee on the mat</li>
              <li>
                Torso bladed toward the opponent (squaring your torso will make
                your non-posting shoulder a potential lever)
              </li>
              <li>
                Front arm maintaining knee-elbow connection but also free for
                defense
              </li>
              <li>
                Front leg tucked in (leaving it out makes it light and a
                potential lever)
              </li>
              <li>Strong posture, head up</li>
              <li>
                To move backward, lift your hip and slide your rear knee to your
                posted hand, replacing it as you switch to a track stance
                (scooting backward will leave your front leg out and vulnerable
                as a lever)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Bridge</th>
          <td
            ><ul>
              <li>
                Face your opponent’s force vector (e.g., a 45-degree angle when
                in bottom side control)
              </li>
              <li>
                Tuck your feet into your butt and stay on the balls of your feet
              </li>
              <li>
                Raise your feet slightly and then drive them explosively into
                the ground to bridge (plyometric rebound)
              </li>
              <li>When bridging at an angle, bridge onto your shoulder</li>
              <li>Maintain hip-shoulder alignment</li>
              <li>
                If you slide backward, bring your feet back under you to
                maintain your force production
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Escape</th>
          <td
            ><ul>
              <li>
                After a 45-degree bridge on two legs: stay tightly tucked and
                bring your butt backward while maintaining knee-elbow connection
              </li>
              <li>
                Small hip escape: post and push with your top leg as you bring
                your bottom knee in to create knee-elbow connection
              </li>
              <li>
                With partial inversion: post and push with your top leg to make
                space to bring your bottom knee in and recompose your guard
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Inversion and Half Granby</th>
          <td><ul></ul></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Monthly Focus</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">December 2024</th>
          <td>
            <ul>
              <li>Guard retention (starting from seated guard)</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td></td>
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td></td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td>
            <ul>
              <li>
                Frame against the leading edge (often the knee/shin or
                shoulder/upper arm), then mobilize your hips to reset your angle
              </li>

              <li>
                If your hips get turned, maintain posture by turning your torso
                to match
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Positions</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Seated Guard</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Submissions</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Armbar</th>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Takedowns</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Double Leg Takedown</th>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    h2 {
      text-align: center;
    }
  </style>
</PageLayout>
