---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <p>
      This is a small corner of my website where I track my training progress in
      Brazilian jiu-jitsu.
    </p>

    <h2>Principles</h2>

    <ul>
      <li>Maintain your alignment, then disrupt your opponent's alignment</li>
      <li>Exert continuous strategic pressure against your opponent</li>
      <li>Control your center of gravity and momentum</li>
      <li>Continually off-balance your opponent (kuzushi)</li>
      <li>Use every part of all your limbs</li>
      <li>Use your head to frame, post, and wedge</li>
      <li>Your spine can be a powerful frame</li>
      <li>Maintain knee-elbow connection</li>
      <li>Address the leading edge</li>
      <li>Meet or redirect your opponent’s force vector</li>
      <li>Turn your opponent’s frames into levers</li>
      <li>Use overwhelming force when attacking levers</li>
      <li>Focus your force into a small, hard surface area</li>
      <li>
        Maximize strength using lever-based control, ratchet levers, and
        internal/external rotation
      </li>
      <li>Take a dominant angle</li>
      <li>Advance position using placeholders</li>
    </ul>

    <table>
      <caption>Monthly Focus</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">December 2024</th>
          <td>
            <ul>
              <li>Guard retention (starting from seated guard)</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td
            ><ul>
              <li>
                Arm posted behind you at 45 degrees (matching the force vector),
                leaving enough space to move your hips back
              </li>
              <li>Rear hip and knee on the mat</li>
              <li>
                Torso bladed toward the opponent (squaring your torso will make
                your non-posting shoulder a potential lever)
              </li>
              <li>
                Front arm maintaining knee-elbow connection but also free for
                defense
              </li>
              <li>
                Front leg tucked in (leaving it out makes it light and a
                potential lever)
              </li>
              <li>Strong posture, head up</li>
              <li>
                To move backward, lift your hip and slide your rear knee to your
                posted hand, replacing it as you switch to a track stance
                (scooting backward will leave your front leg out and vulnerable
                as a lever)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Bridge</th>
          <td
            ><ul>
              <li>
                Face your opponent’s force vector (e.g., a 45-degree angle when
                in bottom side control)
              </li>
              <li>
                Tuck your feet into your butt and stay on the balls of your feet
              </li>
              <li>
                Raise your feet slightly and then drive them explosively into
                the ground to bridge (plyometric rebound)
              </li>
              <li>When bridging at an angle, bridge onto your shoulder</li>
              <li>Maintain hip-shoulder alignment</li>
              <li>
                If you slide backward, bring your feet back under you to
                maintain your force production
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Escape</th>
          <td
            ><ul>
              <li>
                After a 45-degree bridge on two legs: stay tightly tucked and
                bring your butt backward while maintaining knee-elbow connection
              </li>
              <li>
                Small hip escape: post and push with your top leg as you bring
                your bottom knee in to create knee-elbow connection
              </li>
              <li>
                With partial inversion: post and push with your top leg to make
                space to bring your bottom knee in and recompose your guard
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Inversion and Half Granby</th>
          <td
            ><ul>
              <li>
                Use frames (e.g., feet on hips, straight arm on knee) throughout
                the movement to maintain distance between you and your opponent
              </li>
              <li>
                Your head and neck don’t touch the mat (you’re on your
                shoulders)
              </li>
              <li>
                As you invert, step onto the mat with your top foot, bringing it
                far away from your opponent (so they can’t control your leg)
              </li>
              <li>
                As you invert, maintain knee-elbow connection by bringing your
                bottom knee in
              </li>
              <li>
                Solid structure will allow you to support weight (e.g., your
                opponent pushing into you) on your spine while you’re inverted
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Heist</th>
          <td
            ><ul>
              <li>Start on all fours (knees and elbows)</li>
              <li>
                Post onto a hand and the opposite leg, then lift your hips as
                you step far and shoot your hips forward
              </li>
              <li>
                Maintain strong frames and posture (hips up, head up, posting on
                straight arm or elbow)
              </li>
              <li>
                “Peek out” and then turn in (push off your rear foot and turn
                onto your forward knee as you turn to face the opposite
                direction)
              </li>
            </ul>
          </td></tr
        >

        <tr>
          <th scope="row">Hip Switch</th>
          <td
            ><ul>
              <li>
                Start with one hip on the ground (body bladed toward the
                ground), posting on your bottom arm
              </li>
              <li>
                Post your top elbow as you rotate and cut your opposite hip to
                the floor
              </li>
              <li>
                Alternatively, face the ground with both arms posted and
                alternate your grounded hip (can combine with a windshield wiper
                motion)
              </li>
              <li>Useful for shedding frames and hooks</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Windshield Wiper</th>
          <td
            ><ul>
              <li>
                Useful for passing over a limb and shedding hooks, frames, and
                clamps
              </li>
              <li>
                Curl your heel toward your butt while shifting your weight and
                turning your leg over the top of something (e.g., post on your
                hands, bring your knee to the ground, and staple your opponent’s
                limb as you pivot over it)
              </li>
              <li>Can be done with one leg or both</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Backstep</th>
          <td><ul><li></li></ul></td>
        </tr>

        <tr>
          <th scope="row">Rolls</th>
          <td><ul></ul> </td>
        </tr>

        <tr>
          <th scope="row">Eggbeater</th>
          <td><ul></ul> </td>
        </tr>

        <tr>
          <th scope="row">Shin Circle</th>
          <td><ul></ul> </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Takedowns</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Wrestling Stance</th>
          <td
            ><ul>
              <li>
                As you move, keep your center of gravity between your legs and
                your weight going straight down (don’t overcommit your weight to
                either leg)
              </li>
              <li>
                A low stance (your head lower than your opponent’s head) is
                better for both offense and defense
              </li>
              <li>
                Standing tall is mainly for when you want to bait your opponent
                into attacking (e.g., if you’re great at defense)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Double Leg Takedown</th>
          <td
            ><ul>
              <li>
                Breakfall: Hang onto your opponent by holding their hip with
                your top hand and folding your chest onto their back. Soften
                your fall with your other arm, reaching it out far (keeping it
                too close may cause injury) and then slapping the ground with
                the first arm.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td>
            In seated guard:
            <ul>
              <li>Don’t reach your arms out</li>
              <li>
                Grab the closest part of your opponent (e.g., their fingers)—if
                you reach for their sleeve, they’ll be able to grip you
              </li>
              <li>
                Use your grips on their hands to clear the way so you can grip
                their collar, the back of their head, or their arm 2-on-1
              </li>
              <li>
                Grip progression: fingers → sleeve or wrist (lever to shoulder)
                → collar or head (lever to torso)
              </li>
              <li>
                If your opponent is able to grip you, grip-match them (don’t let
                them grip you for free, battle for an advantage)
              </li>
            </ul></td
          >
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td></td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td>
            In recumbent guard:
            <ul>
              <li>
                Use knee-elbow connection to prevent guard passes (adjust your
                elbow placement based on the situation—e.g., protecting against
                a knee wedge versus an underhook)
              </li>
            </ul>

            Late-stage retention:
            <ul>
              <li>
                Frame against the leading edge (often the knee/shin or
                shoulder/upper arm), then mobilize your hips to reset your angle
              </li>

              <li>
                If your hips get turned, maintain posture by turning your torso
                to match
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Seated Guard</th>
          <td
            ><ul>
              <li>Feet close together</li>
              <li>
                Hands above your feet, not behind (your hands are your first
                layer of defense)
              </li>
              <li>
                Elbows framed inside your shins to maintain knee-elbow
                connection and a strong structure
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Escapes</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Mount</th>
          <td><ul></ul> </td>
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    h2 {
      text-align: center;
    }
  </style>
</PageLayout>
