---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="Favorites">
  <div class="paragraphs-container">
    <p>
      A list of my favorite pieces of media of all time. These are the works
      that inspire me to make things.
    </p>
  </div>
</PageLayout>
