---
import BaseLayout from "../layouts/BaseLayout.astro";

const allWorks = await Astro.glob("./works/*.md?(x)");
---

<BaseLayout pageTitle="Home">
  <ul>
    {
      allWorks.map((work) => (
        <li>
          <a href={work.url}>{work.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  ul {
    padding: var(--mm--global--padding-x);
  }

  li {
    list-style-type: none;
  }
</style>
