---
import BaseLayout from "../layouts/BaseLayout.astro";

const allWorks = await Astro.glob("./works/*.md");
---

<BaseLayout pageTitle="Home">
  <ul>
    {
      allWorks.map((work) => (
        <li>
          <a href={work.url}>{work.frontmatter.title}</a>
        </li>
      ))
    }

    <li><a href="/rss.xml">RSS</a></li>
  </ul>
</BaseLayout>

<style>
  ul {
    padding: 24px;
  }

  li {
    list-style-type: none;
  }
</style>
