---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="Media Log">
  <div class="paragraphs-container">
    <p>
      A running list of all the significant media I’ve consumed since starting
      this running list.
    </p>

    <p>My rating scale contains four levels:</p>
    <ol>
      <li>Bad, with almost no redeeming qualities</li>
      <li>Bad, with redeeming qualities</li>
      <li>Good, with flaws</li>
      <li>Great, with no significant flaws</li>
    </ol>

    <table>
      <thead>
        <tr>
          <th scope="col" style="width: 180px"></th>
          <th scope="col" style="width: 180px">Creator(s)</th>
          <th scope="col" style="width: 100px">Type</th>
          <th scope="col" style="width: 100px">Finished</th>
          <th scope="col" style="width: 80px">Rating</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Moon Knight Vol. 1: <br />From The Dead</th>
          <td>
            <ul>
              <li>Warren Ellis (writer)</li>
              <li>Declan Shalvey (artist)</li>
              <li>Jordie Bellaire (colorist)</li>
            </ul></td
          >
          <td>Comics</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</PageLayout>

<style>
  td:nth-child(3) {
    text-align: center;
  }

  td:nth-child(4) {
    text-align: center;
  }
</style>
