---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="Skills">
  <div class="paragraphs-container">
    <table>
      <caption>Graphic Design</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Design Process</th>
          <td>
            <ul>
              <li>Step 1: Define the purpose and audience</li>
              <li>Step 2: Gather inspiration and references</li>
              <li>
                Step 3: Craft a visual language using color and typography
                (defines the personality of your design and communicates its
                purpose)
              </li>
              <li>
                Step 4: Define the psychology (What emotion or reaction should
                the design evoke?) and message before structuring the layout
              </li>
              <li>
                Step 5: What story is my design telling beneath the surface?
                (cultural or symbolic meaning—subtly reflect your audience’s
                values)
              </li>
              <li>
                Step 6: Test for emotional response (step back and critique your
                design for technical excellence and feel; show it to someone
                from your target audience and ask if it excites them and makes
                them want to act)
              </li>
              <li>
                Extra mile: layer with interactive visual cues (e.g., QR code,
                AR elements)
              </li>
            </ul></td
          >
        </tr>

        <tr>
          <th scope="row">Repetition</th>
          <td>
            <ul>
              <li>
                Repeating a single element (colors, typeface styles, fonts,
                line, size and scale, shape, texture, language) many times in a
                design
              </li>
              <li>Holds together and unifies a design</li>
              <li>
                Repetition within a brand is powerful—the aim is for the
                consumer to recognize a product by the brand without even
                consciously thinking about it
              </li>
              <li>
                Breaking repetition can create a focal point that grabs
                attention
              </li>
              <li>
                You can also break repetition on a larger scale in relation to
                comparable brands (e.g., a bank with a green logo when most
                banks have blue or red logos)
              </li>
            </ul></td
          >
        </tr>
      </tbody>
    </table>
  </div>

  <style>
    h2 {
      text-align: center;
    }
  </style>
</PageLayout>
