---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="The 50s">
  <div class="paragraphs-container">
    <table>
      <caption>Books</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 40px"></th>
          <th scope="col" style="width: 180px">Title</th>
          <th scope="col" style="width: 180px">Author</th>
          <th scope="col" style="width: 100px">Finished</th>
          <th scope="col" style="width: 80px">Rating</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <th scope="row">Dune</th>
          <td>Frank Herbert</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Media</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 40px"></th>
          <th scope="col" style="width: 180px">Title</th>
          <th scope="col" style="width: 180px">Author</th>
          <th scope="col" style="width: 80px">Type</th>
          <th scope="col" style="width: 100px">Finished</th>
          <th scope="col" style="width: 80px">Rating</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <th scope="row">BJJ Mental Models</th>
          <td>Steve Kwan, Matt Kwan</td>
          <td>Podcast</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <th scope="row">Chewjitsu Podcast</th>
          <td>Nick “Chewy” Albin, Eugene Tsozik</td>
          <td>Podcast</td>
          <td></td>
          <td></td>
          <td>
            <strong>Favorite Episodes</strong>
            <ul>
              <li>
                #319 - Rules For BJJ #17: Expectations Are Dangerous and #18
                Look Fresh When Tired
              </li>
              <li>#308 - How To Beat Bigger Grapplers With Mike Perez</li>
            </ul></td
          >
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Tabletop Games</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 40px"></th>
          <th scope="col" style="width: 180px">Title</th>
          <th scope="col" style="width: 180px">Author</th>
          <th scope="col" style="width: 80px">Type</th>
          <th scope="col" style="width: 100px">Finished</th>
          <th scope="col" style="width: 80px">Rating</th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">1</th>
          <th scope="row">Ironsworn</th>
          <td>Shawn Tomkin</td>
          <td>RPG</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <th scope="row">Iron Valley</th>
          <td>M. Kirin</td>
          <td>RPG</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <th scope="row">Friday</th>
          <td>Friedemann Friese</td>
          <td>Board Game</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</PageLayout>

<style>
  td {
    text-align: center;

    &:last-child {
      text-align: start;
    }
  }
</style>
