---
import { SITE_TITLE } from "@utils/index";
---

<nav>
  <div class="content-container">
    <a class="home-link" href="/">{SITE_TITLE}</a>

    <ul>
      <li><a href="/campaigns">Campaigns</a></li>
      <li><a href="/works">Works</a></li>
    </ul>

    <ul class="right-links">
      <li><a href="/about">About</a></li>

      <li>
        <a href="/rss.xml" target="_blank"><span class="mdi--rss"></span> RSS</a
        >
      </li>
    </ul>
  </div>
</nav>

<style>
  nav {
    background-color: var(--mm--color--neutral-0);
    min-block-size: var(--mm--sizing--5);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: var(--mm--spacing--2);
    justify-content: center;
    padding: 0;

    & > li {
      list-style-type: none;

      & > a {
        align-items: center;
        block-size: 100%;
        border: var(--mm--border-width--1) solid transparent;
        border-radius: var(--mm--border-radius--1);
        color: var(--mm--color--neutral-9);
        display: flex;
        font-size: var(--mm--font-size--0);
        font-weight: var(--mm--font-weight--2);
        gap: var(--mm--spacing--1);
        padding: var(--mm--spacing--1) var(--mm--spacing--3);
        text-decoration: none;

        &:hover,
        &:focus-visible {
          border-color: var(--mm--color--neutral-7);
        }

        &:active {
          background-color: rgba(var(--mm--color--neutral-9-raw), 0.1);
        }
      }
    }
  }

  .home-link {
    color: var(--mm--color--neutral-9);
    flex-shrink: 0;
    font-family: var(--mm--font-family--serif);
    font-size: var(--mm--font-size--1);
    font-weight: var(--mm--font-weight--2);
    margin-inline-end: var(--mm--spacing--2);
    text-decoration-line: none;
    text-decoration-thickness: var(--mm--border-width--2);
    text-underline-offset: var(--mm--spacing--1);

    &:hover,
    &:focus-visible {
      text-decoration-line: underline;
    }
  }

  .content-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--mm--spacing--3);
    margin-inline: auto;
    max-inline-size: var(--mm--global--max-width);
    padding: var(--mm--spacing--2) var(--mm--global--padding-x);
  }

  .right-links {
    margin-inline-start: auto;
  }
</style>
