---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ - Grip Fighting">
  <div class="paragraphs-container">
    <a href="/bjj/">BJJ</a>

    <table>
      <caption>Grip Fighting</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>

          <td>
            <ul>
              <li>
                Grip levels: benign, dangerous (providing lever control or the
                ability to effectively push/pull), deadly (leading to a choke)
              </li>
            </ul>

            <strong>Establishing Grips</strong>
            <ul>
              <li>A grip should enhance your level of control</li>
              <li>
                Strategically, you can start with a benign grip and convert it
                into a better one
              </li>
              <li>
                Directions of control: sagittal, lateral, up/down—ideally, you
                want to control all of these (distance, movement, posture)
              </li>
              <li>
                Grip close to a joint or the end of a lever (e.g., top of the
                spine, wrist, knee)
              </li>
              <li>
                Gripping your opponent’s fingers can be useful (their hands are
                often the closest layer; prevents them from regripping)
              </li>
              <li>
                Be prepared to release the grip and regrip if your opponent
                starts to break your grip
              </li>
              <li>
                Be a diverse grip fighter—a no-gi grip may offer better lever
                control (e.g., ankle vs pant cuff) and be faster to establish
              </li>
              <li>
                To maximize control, roll and rotate (do both when possible) the
                gi material and remove slack—rolling and rotating the material
                forces your opponent to break alignment (due to needing to
                address multiple directions) when attempting to break the grip
              </li>
              <li>To strengthen a grip, block where it has a gap</li>
            </ul>

            <strong>Breaking Grips</strong>
            <ul>
              <li>
                Don’t try to break a grip if your alignment is broken (your grip
                break will be ineffective)
              </li>
              <li>
                To break a grip, break the structure of the gripping limb, then
                take the material in the direction where there is a gap in the
                grip
              </li>
            </ul>

            <strong>Grip Fighting from Seated Guard</strong>
            <ul>
              <li>
                Attack your opponent’s legs, hands, and head to access their
                collar
              </li>
              <li>
                With a collar or sleeve grip: post on your other arm, lift your
                hips, and pull back to break your opponent’s posture forward and
                off-balance them (hang your weight off them like a wrecking
                ball), then transition to a recumbent guard or wrestle-up

                <ul>
                  <li>
                    Do this offensively once you’ve established a collar grip
                  </li>
                  <li>
                    Do this defensively if your opponent gets a collar or sleeve
                    grip—grip-match if you can, maintain knee-elbow connection,
                    and then pull them forward
                  </li>
                </ul>
              </li>
              <li>
                Beware grips from your opponent that grant them rotational
                control (e.g., cross-side pant cuff, same-side pant cuff +
                same-side collar)—don’t move into a position that will let them
                take advantage of it (you might need to switch your base)
              </li>
              <li>
                If your opponent gets a same-side pant cuff grip, break the grip
                or transition to a recumbent guard and establish leg frames
              </li>
            </ul>

            <strong>Grip Fighting from Recumbent Guard</strong>
            <ul>
              <li>
                If engaging from recumbent guard, you’re relying on
                counterfighting more than on proactive grip fighting
              </li>
              <li>
                Face your opponent from a perpendicular and slanted angle to
                bring your arms closer to the engagement
              </li>
              <li>
                Maintain knee-elbow connection to defend against guard passes
              </li>
              <li>
                Hold your legs in an asymmetric position to make them harder to
                grip simultaneously
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Collar Grip</th>

          <td>
            <ul>
              <li>
                Roll the material into your fingers and then rotate your palm up
              </li>
              <li>
                At the collarbone (more body leverage and material control;
                uncomfortable for your opponent to drive into; threatens a
                choke)
              </li>
            </ul>

            <strong>Same-Side Collar Grip</strong>
            <ul>
              <li></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Collar Grip</th>
          <td>
            Same-side collar grip
            <ul>
              <li>
                Generally not useful by itself (not much rotational control or
                offensive potential)—better when complemented with opposite
                sleeve control and/or a guard
              </li>
              <li>
                Useful for posture control (e.g., pulling your opponent down in
                closed guard)
              </li>
              <li>
                Useful when passing (e.g., offers rotational control during a
                knee cut)
              </li>
              <li>
                Generally, same-side collar grip is superior to cross-collar
                when on top (when you’re more mobile and able to change angles)
              </li>
            </ul>

            Cross-collar grip
            <ul>
              <li>
                Useful for pulling your opponent across (using a rowing motion
                to create a dominant angle and expose their back)—offers more
                rotational control and offensive potential than the same-side
                collar grip
              </li>
            </ul>

            Grip breaks
            <ul>
              <li>
                Prevention: push the elbow to redirect your opponent’s arm as
                they reach
              </li>
              <li>
                Back away until your opponent’s arm is straight, then push their
                elbow up using a Y-block with one or both of your hands (FOR
                SAFETY, don’t pop the elbow up if your opponent isn’t aware of
                what’s happening)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Sleeve Grip</th>
          <td
            ><ul>
              <li>
                Cuff grip: roll the sleeve into your fingers and twist outward,
                removing slack and framing your fist against your opponent’s
                forearm

                <ul>
                  <li>
                    Faster to attain than the pistol grip and more popular in
                    general
                  </li>
                </ul>
              </li>
              <li>
                Pistol grip: hook the sleeve with your index finger, then gather
                a fistful of material, removing as much slack as possible and
                leaving your thumb out for safety—twist your fist to block your
                opponent’s arm with your ulnar bone (make your wrists
                perpendicular)

                <ul>
                  <li>Superior to cuff grip in removing slack</li>
                </ul>
              </li>
            </ul>

            Same-side sleeve grip
            <ul>
              <li>
                Useful for moving your opponent’s arm away from their body
              </li>
              <li>Useful for pinning your opponent’s hand to their body</li>
              <li>
                Useful for controlling your opponent’s arm (prevent them from
                posting, set up an arm drag, etc.)—strong, end-of-lever control
              </li>
              <li>
                Limited control when used by itself—better when combined with a
                hinge on your opponent (e.g., foot on their hip or bicep)
              </li>
            </ul>

            Cross-sleeve grip
            <ul>
              <li>
                Useful for pulling your opponent’s arm across their body and
                exposing their back—if using a cuff grip, you can allow for more
                initial slack in the material so you can rotate the grip to the
                other side of your opponent’s wrist and then pull their arm
                across
              </li>
              <li>
                Can be useful for defense through pushing your opponent’s arm
                away from their body, but you must turn and maintain
                hip-shoulder alignment (don’t just pass your arm over your
                centerline)
              </li>
              <li>
                Can be combined with an armpit grip for posture control
                (rotation enables the armpit grip to exert lever control over
                the spine)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Pant Cuff Grip</th>
          <td
            ><ul>
              <li>
                Roll the pant cuff into your fingers and twist outward, removing
                slack and framing your fist against your opponent’s shin
              </li>
              <li>
                In general, the contact point for a pistol grip on a pant cuff
                is too narrow to be useful (easy for your opponent to pummel
                their leg)
              </li>
              <li>
                Not useful for Toreando-style passing (in recumbent guard, pant
                cuffs tend to be high on the shin, so your opponent can easily
                get their feet onto your biceps)—more useful for
                deflection-style passing
              </li>
              <li>
                Useful as an anchor point (combined with a straight arm frame)
                as you maneuver your body (you’re unlikely to overpower your
                opponent’s leg with your arm)
              </li>
              <li>
                Can be useful for strongly controlling your opponent’s legs from
                bottom position, aiding with sweeps (e.g., in half guard)—gi
                grips take time to set up, though, so they’re not always the
                right choice
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Knee Grip</th>
          <td
            ><ul>
              <li>
                Roll the material into your fingers and then push the heel of
                your palm into the inside of your opponent’s knee (starts like a
                cuff grip and ends like a pistol grip)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Waist Grip</th>
          <td>
            Front waist grip (belt or pants)
            <ul>
              <li>
                Purely defensive (e.g., anchoring your arm during a guard pass
                if your opponent is gripping your sleeve)
              </li>
            </ul>

            Back waist grip (belt or pants)
            <ul>
              <li>
                Prefer the belt, as the pants grant less leverage (especially if
                they start to come off—PERSONAL ETIQUETTE: grip the belt to
                avoid pulling your opponent’s pants off)
              </li>
              <li>
                For the most control, grab the belt, gi, and pants
                simultaneously, removing the maximum amount of slack (from
                below: four fingers in the belt, thumb pulling the pants up to
                be grabbed by the fingers)
              </li>
            </ul>

            Belt grip
            <ul>
              <li>
                Grab the belt and gi simultaneously (the belt by itself can
                shift around)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</PageLayout>
