---
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout pageTitle="BJJ">
  <div class="paragraphs-container">
    <ul>
      <li><a href="/bjj/grip-fighting/">Grip Fighting</a></li>
      <li><a href="/bjj/takedowns/">Takedowns</a></li>
      <li>
        <a href="/bjj/guard-passing/">Guard Passing</a>
      </li>
      <li><a href="/bjj/side-control/">Side Control</a></li>
      <li><a href="/bjj/north-south/">North-South</a></li>
      <li><a href="/bjj/mount/">Mount</a></li>
      <li><a href="/bjj/back-control/">Back Control</a></li>
      <li><a href="/bjj/closed-guard/">Closed Guard</a></li>
      <li><a href="/bjj/half-guard/">Half Guard</a></li>
      <li><a href="/bjj/open-guard/">Open Guard</a></li>
      <li><a href="/bjj/submissions/">Submissions</a></li>
    </ul>

    <h2>Principles</h2>

    <ul>
      <li>Maintain your alignment, then disrupt your opponent's alignment</li>
      <li>Exert continuous strategic pressure against your opponent</li>
      <li>Control your center of gravity and momentum, have a mobile base</li>
      <li>Continually off-balance your opponent (kuzushi)</li>
      <li>Take a dominant angle</li>
      <li>Attain inside channel control</li>
      <li>Use every part of all your limbs</li>
      <li>Use your head to frame, wedge, and post (free up your arms)</li>
      <li>Your spine can be a powerful frame</li>
      <li>Maintain knee-elbow connection</li>
      <li>Address the leading edge</li>
      <li>
        Meet or redirect (apply force from a different angle; or reduce pressure
        and collapse the frame) your opponent’s force vector
      </li>
      <li>Turn your opponent’s frames into levers</li>
      <li>Use overwhelming force when attacking levers</li>
      <li>
        Maximize control using lever-based control and far-side limb control
        (rotational control)
      </li>
      <li>
        Maximize strength using ratchet levers and internal/external rotation
      </li>
      <li>Focus your force into a small, hard surface area</li>
      <li>Advance position using placeholders</li>
      <li>
        Stay on your side for stronger lateral movement (your body is stronger
        on the sagittal plane)
      </li>
      <li>
        Balance between applying pressure and maintaining base: tight with
        proximal extremities (knees, elbows), wide with distal extremities
        (feet, hands)
      </li>
      <li>Move yourself if you can’t move your opponent</li>
    </ul>

    <table>
      <caption>Focus Areas</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">BJJ</th>
          <th scope="col">Fitness</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">January 2025</th>
          <td>
            <ul>
              <li>Grip fighting</li>
            </ul>
          </td>
          <td>
            <strong>Goals</strong>
            <ul>
              <li>Pike</li>
            </ul>

            <ul>
              <li>
                <strong>Monday:</strong> Pseudo planche push-up
              </li>
              <li>
                <strong>Tuesday:</strong> Seated pike leg lift
              </li>
              <li><strong>Wednesday:</strong> Shrimp squat</li>
              <li>
                <strong>Thursday:</strong> Seated straddle leg lift
              </li>
              <li>
                <strong>Friday:</strong> Scapular pull-up
              </li>
              <li>
                <strong>Cooldown:</strong> Alt. shin box switches w/ hip internal
                rotation, ATG split squat, alt. Cossack squats
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Solo Drills</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Technical Standup</th>
          <td
            ><ul>
              <li>
                Arm posted behind you at 45 degrees (matching the force vector),
                leaving enough space to move your hips back
              </li>
              <li>Rear hip and knee on the mat</li>
              <li>
                Torso bladed toward the opponent (squaring your torso will make
                your non-posting shoulder a potential lever)
              </li>
              <li>
                Front arm maintaining knee-elbow connection but also free for
                defense
              </li>
              <li>
                Front leg tucked in (leaving it out makes it light and a
                potential lever)
              </li>
              <li>Strong posture, head up</li>
              <li>
                To move backward, lift your hip and slide your rear knee to your
                posted hand, replacing it as you switch to a track stance
                (scooting backward will leave your front leg out and vulnerable
                as a lever)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Bridge</th>
          <td
            ><ul>
              <li>
                Face your opponent’s force vector (e.g., a 45-degree angle when
                in bottom side control)
              </li>
              <li>
                Tuck your feet into your butt and stay on the balls of your feet
              </li>
              <li>
                Raise your feet slightly and then drive them explosively into
                the ground to bridge (plyometric rebound)
              </li>
              <li>When bridging at an angle, bridge onto your shoulder</li>
              <li>Maintain hip-shoulder alignment</li>
              <li>
                If you slide backward, bring your feet back under you to
                maintain your force production
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Escape</th>
          <td
            ><ul>
              <li>
                After a 45-degree bridge on two legs: stay tightly tucked and
                bring your butt backward while maintaining knee-elbow connection
              </li>
              <li>
                Small hip escape: post and push with your top leg as you bring
                your bottom knee in to create knee-elbow connection
              </li>
              <li>
                With partial inversion: post and push with your top leg to make
                space to bring your bottom knee in and recompose your guard
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Inversion and Half Granby</th>
          <td
            ><ul>
              <li>
                Use frames (e.g., feet on hips, straight arm on knee) throughout
                the movement to maintain distance between you and your opponent
              </li>
              <li>
                Your head and neck don’t touch the mat (you’re on your
                shoulders)
              </li>
              <li>
                As you invert, step onto the mat with your top foot, bringing it
                far away from your opponent (so they can’t control your leg)
              </li>
              <li>
                As you invert, maintain knee-elbow connection by bringing your
                bottom knee in
              </li>
              <li>
                Solid structure will allow you to support weight (e.g., your
                opponent pushing into you) on your spine while you’re inverted
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Hip Heist</th>
          <td
            ><ul>
              <li>Start on all fours (knees and elbows)</li>
              <li>
                Post onto a hand and the opposite leg, then lift your hips as
                you step far and shoot your hips forward
              </li>
              <li>
                Maintain strong frames and posture (hips up, head up, posting on
                straight arm or elbow)
              </li>
              <li>
                “Peek out” and then turn in (push off your rear foot and turn
                onto your forward knee as you turn to face the opposite
                direction)
              </li>
            </ul>
          </td></tr
        >

        <tr>
          <th scope="row">Hip Switch</th>
          <td
            ><ul>
              <li>
                Start with one hip on the ground (body bladed toward the
                ground), posting on your bottom arm
              </li>
              <li>
                Post your top elbow as you rotate and cut your opposite hip to
                the floor
              </li>
              <li>
                Alternatively, face the ground with both arms posted and
                alternate your grounded hip (can combine with a windshield wiper
                motion)
              </li>
              <li>Useful for shedding frames and hooks</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Windshield Wiper</th>
          <td
            ><ul>
              <li>
                Useful for passing over a limb and shedding hooks, frames, and
                clamps
              </li>
              <li>
                Curl your heel toward your butt while shifting your weight and
                turning your leg over the top of something (e.g., post on your
                hands, bring your knee to the ground, and staple your opponent’s
                limb as you pivot over it)
              </li>
              <li>Can be done with one leg or both</li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Backstep</th>
          <td
            ><ul>
              <li>
                Backstep: Post on the ball of one foot and the same-side hand,
                then step back with the other leg as you turn your hips over
              </li>
              <li>
                Long step: Post on one knee and the same-side elbow, then step
                back with the other leg as you turn your hips over (like a
                scorpion kick)
              </li>
              <li>
                After stepping back, keep your center of gravity between your
                posts to maintain base (stop your movement before you
                over-rotate)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Rolls</th>
          <td
            ><ul>
              <li>Head and neck don’t touch the ground</li>
              <li>
                Forward roll: start with one knee up, land with your
                rolling-side knee up and the other knee tucked in flat on the
                mat, and then get up into a track stance (similar to a technical
                standup)
              </li>
              <li>
                Backward roll: far leg (rolling-side leg) stays compact
                (providing an immediate base as it lands), near leg extends a
                bit so you can land in a ready, force-producing stance
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Eggbeater</th>
          <td
            ><ul>
              <li>
                To shed grips on your shins, rotate your lower legs (if your
                opponent is exerting downward force on your legs, purely
                vertical movement will be ineffective) while grip fighting with
                your hands
              </li>
              <li>
                Most effective when your legs are at a 90-degree angle (more
                difficult once your opponent has pushed them down to 45 degrees)
              </li>
              <li>
                Switch your hips throughout the movement to increase your range
                of motion
              </li>
              <li>
                Rotate your lower legs in opposing directions, switching between
                outward and inward
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Shin Circle</th>
          <td
            ><ul>
              <li>
                To shed a hook on your leg, rotate your knee inward while
                driving it down and kicking yourself in the butt, then rotate
                the knee back out and drive your foot to the mat
              </li>
              <li>
                Keep the circling leg heavy throughout the movement (if you make
                it light, it will be a lever for your opponent)
              </li>
              <li>
                Keep your center of gravity above your circling knee (don’t
                shift it forward past your base)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Takedowns</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td>
            Wrestling stance
            <ul>
              <li>
                As you move, keep your center of gravity between your legs and
                your weight going straight down (don’t overcommit to either leg)
              </li>
              <li>
                A low stance (your head lower than your opponent’s head or at
                the same level) is better for both offense and defense
              </li>
              <li>
                Standing tall is mainly for when you want to bait your opponent
                into attacking (e.g., if you’re great at defense)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Double Leg Takedown</th>
          <td
            ><ul>
              <li>
                Breakfall: Hang onto your opponent by holding their hip with
                your top hand and folding your chest onto their back. Soften
                your fall by reaching far out to the ground with your other arm
                (posting it too close to your landing spot may cause injury) and
                then slapping the ground with the first arm.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Phases of Guard</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Engagement</th>
          <td>
            In seated guard:
            <ul>
              <li>Don’t reach your arms out</li>
              <li>
                Grab the closest part of your opponent (e.g., their fingers)—if
                you reach for their sleeve, they’ll be able to grip you
              </li>
              <li>
                Use your grips on their hands to clear the way so you can grip
                their collar, the back of their head, or their arm 2-on-1
              </li>
              <li>
                Grip progression: fingers → sleeve or wrist (lever to shoulder)
                → collar or head (lever to torso)
              </li>
              <li>
                If your opponent is able to grip you, grip-match them (don’t let
                them grip you for free, battle for an advantage)
              </li>
            </ul></td
          >
        </tr>

        <tr>
          <th scope="row">Maintenance</th>
          <td>
            In seated guard:
            <ul>
              <li>
                Block your opponent’s leading edge (the knee if they’re standing
                and circling you) with your hand, post with your other hand, and
                continually adjust your angle to face your opponent, switching
                your hips and the framing arm when necessary
              </li>
              <li>
                From here, you can pull to another guard (e.g., shin-to-shin, De
                La Riva, tripod)
              </li>
            </ul>
          </td>
        </tr>

        <tr>
          <th scope="row">Retention</th>
          <td>
            In seated guard:
            <ul>
              <li>
                If your opponent is in front of you and their knee starts
                collapsing your straight arm (turning your frame into a lever),
                shorten it to an elbow frame to turn the lever back into a frame
              </li>
              <li>
                If your opponent has a dominant angle and their knee starts
                collapsing your straight arm, don’t turn to face them (turning
                in will give up the guard pass)
                <ul>
                  <li>
                    Half Granby: As your blocking frame starts collapsing,
                    collapse your posting arm (arm frame → elbow frame →
                    shoulder frame) and put your shoulder to the mat so that
                    you’re lying sideways and turned away from your opponent,
                    giving your framing arm room to straighten.
                  </li>
                  <li>Hip escape:</li>
                </ul>
              </li>
              <li>
                Frame against the leading edge (often the knee/shin or
                shoulder/upper arm), then mobilize your hips to reset your angle
              </li>
              <li>
                If your hips get turned, maintain posture by turning your torso
                to match
              </li>
            </ul>

            In recumbent guard:
            <ul>
              <li>
                Use knee-elbow connection to prevent guard passes (adjust your
                elbow placement based on the situation—e.g., protecting against
                a knee wedge versus an underhook)
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Open Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">General</th>
          <td
            ><ul>
              <li>
                Tends to be good for lighter grapplers since you can manage
                distance with your legs
              </li>
              <li>
                In the engagement phase, start in seated guard so you can grip
                fight—once you establish good grips or feel threatened, switch
                to a recumbent guard so you can engage your legs more
              </li>
              <li>
                Upper body controls tend to facilitate: posture control,
                overhead sweeps, sideways sweeps, triangle, omoplata
              </li>
              <li>
                Lower body controls tend to facilitate: inversions, back takes,
                sit-up sweeps, leg entanglements
              </li>
              <li>
                Heuristics for taking upper body controls on your opponent: if
                they’re leaning forward with their feet far from you; if they’re
                controlling your legs
              </li>
              <li>
                Heuristics for taking lower body controls on your opponent: if
                they’re posturing tall; if they step in with their leg; if
                they’re maintaining strong knee-elbow connection
              </li>
              <li>
                Heuristics for retaining guard versus attacking: if your
                opponent has good grips on your legs; if you can’t bring both
                your legs in front of you
              </li>
            </ul>

            Guard retention
            <ul>
              <li></li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Seated Guard</th>
          <td
            ><ul>
              <li>Feet close together</li>
              <li>
                Hands above your feet, not behind (your hands are your first
                layer of defense)
              </li>
              <li>
                Elbows framed inside your shins to maintain knee-elbow
                connection and block your opponent from gripping your pants
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Collar Sleeve Guard</th>
          <td
            ><ul>
              <li>
                Same-side sleeve grip + cross-collar grip—ideally with foot on
                hip (same side as collar/sleeve control) + foot on bicep
              </li>
              <li>
                Links well with: De La Riva guard, spider guard, lasso guard,
                closed guard
              </li>
              <li>Primary attacks: triangle, omoplata</li>
              <li>
                Foot on hip breaks your opponent’s posture and helps push their
                body to stretch their arm out
              </li>
              <li>
                Only place your foot on their hip if you have the collar grip
                (posture control) and sleeve grip (prevents your opponent from
                gripping your leg) and you’re close enough to bring their hand
                past your hips once you fall to your side (to prevent your
                opponent having knee-elbow connection and parrying your leg with
                their hand)
              </li>
              <li>
                Grip the collar slightly above the collarbone and then pull down
                (makes it harder for your opponent to posture up)
              </li>
              <li>
                Push the collar and pull the sleeve to separate your opponent’s
                arm from their body
              </li>
              <li>
                When shooting your foot onto their hip, scoot slightly to the
                opposite side so you can shoot your foot through the gap between
                their arm and leg without your opponent blocking you
              </li>
              <li>
                If you can’t grab both the collar and sleeve, double up on the
                one you’ve got
              </li>
              <li>
                If you’re double-gripping the collar and have broken their
                posture forward, shoot your hips in and shoot your feet outside
                and over their arms onto their biceps—you can then use your leg
                to try to access their arm—if your opponent grips your leg, you
                can grip their sleeve and then you can pummel your foot under
                and outside their bicep and kick your foot forward to break
                their grip
              </li>
              <li>
                If you’re double-gripping their sleeve and they’re posturing up,
                shoot your hips in and shoot your feet outside and over their
                arms (on the gripped arm, put your outstep on their shoulder—on
                the other arm, put your foot on their bicep). Curl your leg down
                and pull your elbows back toward your sides to pull their arm
                down so you can reach for their collar.
              </li>
              <li>
                The double-grip entry strategies from kneeling can also be used
                from standing (especially if you’re in a rush to get to the
                position and don’t have time to establish better grips)
              </li>
              <li>
                From standing: grip their collar and sleeve, pull your elbow in
                tight to your body and step toward the non-controlled side to
                pull their arm away from their body. Step out with your leg
                toward the non-controlled side to give you space to drop to your
                hip on the controlled side and put your foot on their hip. Then,
                bring your other foot over their arm and onto their bicep and
                extend your leg to stretch your opponent’s arm back.
              </li>
              <li>
                Variation: If you have collar and sleeve grips and the leg on
                the same side is on their bicep, lift your hips and rotate
                toward the opposite side, then take your foot off the bicep and
                pendulum it to bring your hips toward their leg and then wrap
                the leg with a De La Riva hook.
              </li>
              <li>
                Pummeling your legs outside and over their arms as you shoot in
                prevents your opponent from blocking your feet
              </li>
              <li>
                If you’re in seated guard and your opponent is trying to grip
                your pants, underhand grip both their sleeves and then shoot
                your hips in and pummel your feet outside and over their arm
                onto their biceps, then establish your collar grip and De La
                Riva hook
              </li>
              <li>
                From closed guard: Grip their sleeve and open your elbow out and
                high (parallel to the floor) to pull their arm taut and prevent
                them from pulling it back. Cross-grip their collar and push it
                away to stretch their arm out. Pinch your knees to maintain
                pressure as you hip out and put the other shin into their armpit
                and across their chest so your opponent can’t get their arm
                inside and block your leg. Use your knee shield to apply
                pressure as you extend your chest and head away, then put your
                foot in their hip. Then move your hips away, then extend your
                upper body away and stretch your opponent forward, then put your
                foot on their bicep.
              </li>
              <li>
                Collar sleeve is advantageous against a kneeling opponent (hard
                for them to prevent you from putting your foot on their hip and
                stretching them and separating their arm from their body)—they
                should stand
              </li>
              <li>
                Don’t shoot the bicep leg for the triangle if their elbow is
                connected to their knee (they’ll likely be able to pass under
                the leg)
              </li>
              <li>
                If your opponent steps over your bicep leg into headquarters,
                frame with your collar hand and put your other foot in front of
                them and push away so you can circle the trapped leg inside and
                recover it onto the bicep
              </li>
              <li>
                Break their posture by pulling down on their collar so they
                can’t pummel their arm inside your bicep leg
              </li>
              <li>
                Can also angle your heel close to their armpit to make pummeling
                hard
              </li>
              <li>
                If your opponent pummels their hand inside your leg, you must
                pummel your leg to recover
              </li>
            </ul>

            <ul>
              <li>
                Primary sequence: Cross-grip your opponent’s collar at their
                collar bone (grants pull/push control and works as a frame).
                Grip their sleeve and pull their arm away from their body by
                rowing your elbow back and locking it at your hip. Fall to your
                side (to the gripped collar side) and put one foot on their hip
                and pummel the other foot onto their bicep. Stretch their arm by
                pushing their hip with your foot and extending your body. Put
                your knee inside their outstretched arm. Pull your opponent
                forward as you lift your hips and shoot into the triangle.
              </li>
            </ul>

            Attacks
            <ul>
              <li>
                Triangle (kneeling opponent): From collar sleeve position, pull
                their arm away from their body by getting up on your elbow,
                shoot your hips in slightly so you can bring your chest forward
                next to your elbow, and then extending and rotating your chest
                with your elbow locked tight to your side (stretches their arm
                forward), then open your elbow (brings their arm out). Repeat
                this process until you can put your knee inside their elbow.
                Then, pull your hips in, then pull your opponent forward
                (lifting up with your elbows) as you shoot your legs up and
                establish a triangle. Make sure your hips end up past their
                elbow line.
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>

    <table>
      <caption>Clamp-Based Guards</caption>

      <thead>
        <tr>
          <th scope="col" style="width: 120px"></th>
          <th scope="col">Notes</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Closed Guard</th>
          <td>
            Entry
            <ul>
              <li>
                To enter closed guard, your opponent must have space between
                their arm and body

                <ul>
                  <li>Put your foot on their hip and pry their arm away</li>
                  <li>
                    Off-balance them to get them to put their hands on the mat
                  </li>
                </ul>
              </li>
              <li>
                Open guard entry: Control one arm (collar sleeve grip or
                two-on-one grip) and put your foot on the hip on the same side.
                Then fall to the controlled side (post on your elbow if using a
                sleeve grip) and pull their arm. Hook your other leg under their
                armpit, keeping your knee and shin tight against them (to
                prevent them from pummeling their arm in), then pull yourself
                into closed guard.
              </li>
              <li>
                If your opponent is in combat base (knee-elbow connection while
                kneeling or standing): put your foot on their bicep on the
                trailing side, rotate toward the trailing side and pummel your
                shin onto their leading shin (hook the inside of their ankle).
                Stretch wide with your legs: extend your leg to separate their
                knee from their elbow as you push outward and into and then past
                their bicep with your other leg, then pull into closed guard.
              </li>
              <li>
                From half guard with a low knee shield: Overhook and pull their
                shoulder in tight to your body. Use a C-grip on your opponent’s
                wrist to strip their grip (if any) from your bottom leg, then
                frame it with a straight arm and turn your C-grip outward (so
                the gap is facing away from you). then extend your body,
                stretching your opponent out by pushing with your knee as you
                arch back. Retract your bottom leg, reach it past their hip, and
                use it to pull yourself into closed guard.
              </li>
            </ul>

            Breaking posture
            <ul>
              <li>
                Pull your knees toward your chest—curl your legs in to keep your
                hips tight against your opponent’s hips
              </li>
              <li>Pull their collar down</li>
              <li>Pull their arm forward and across</li>
              <li>
                If your opponent is framing on your body by gripping your lapel,
                break the grip (two-on-one) then pull their arm forward and
                across; or collapse their elbow by pressuring down on their
                forearm just below the elbow with your forearm while your other
                hand pulls with a cross-collar grip
              </li>
              <li>
                Once their posture is broken, control their head (hook your arm
                on their traps below their neck)
              </li>
            </ul>

            Getting the arm across
            <ul>
              <li>
                You want to get their elbow past your midline and then break
                their posture
              </li>
              <li>
                Usually, you’ll want to use a combination of pushing their arm
                across and moving your hips out to the side
              </li>
              <li>
                If your opponent has a same-side grip on your lapel, you need to
                break their grip: cross-grip their sleeve and then figure-four
                grip your wrist under their arm, then push away from where
                there’s a gap between their fingers and thumb (e.g., push
                straight up). After the grip has been stripped, maintain the
                cuff grip and with your other hand grip over their fingers so
                they can't regrip. Then, loop your cuff grip over the top of
                their hand so your cuff-gripping wrist is blocking their wrist.
              </li>
              <li>
                Get 2-on-1 control (tricep + sleeve/wrist), then pull their arm
                up and across your body (in a wide arcing motion to bring them
                forward and maximally turn their body) as you bring your knees
                to your chest
              </li>
              <li>
                In no-gi, grip their wrist with the gap between your thumb and
                fingers facing toward you (so your opponent can’t slip out by
                pulling toward themselves—if they try to slip out by pushing
                toward you, that helps you bring their arm across)
              </li>
              <li>
                Once you start to angle out from under your opponent to take
                their back, make sure their posture stays broken: put an arm
                over and grab their opposite armpit, and keep control over the
                arm you pulled across and stretch it out (frame it with your
                straight arm parallel to the floor). Drive your chest tight
                against their tricep before you try to take the back. It’s
                crucial to make sure they can’t free their elbow. Post on your
                elbow (slide your elbow in an upward and outward arc to bring it
                beside you). Hook your top leg on their opposite hip, then
                bridge into your opponent as you pull yourself to the back (the
                bridge can make them open their opposite elbow to post, freeing
                your bottom leg), maintaining pressure the whole time to prevent
                your opponent from freeing their elbow. Connect your hands with
                two underhooks to prevent sliding forward over your opponent’s
                head.
              </li>

              Responses to standing up
              <ul>
                <li>
                  If your opponent has their hands on your biceps: circle your
                  hands under their forearms and follow through with your
                  forearms and elbows to strip their grips as you bring your
                  knees to your chest to pull them forward
                </li>
                <li>
                  If your opponent has their hands on your biceps and you can’t
                  circle your arms in: side crunch to extend one side of your
                  body as you stretch your arm on that side away from your
                  opponent. Grab their wrist with the other hand, then go back
                  to your regular position (controlling their hand so it can’t
                  go back on your bicep) and grab behind their tricep (tricep
                  and wrist control).
                </li>
                <li>
                  A great time to break posture is as your opponent is standing
                  up (if they’re not framing on your chest or biceps with their
                  arms)—pull them forward with your legs as they take their knee
                  off the ground, removing their base on that side
                </li>
                <li>
                  If your opponent starts standing and puts one leg up, crunch
                  to that side and underhook the leg. Then, uncrunch and pull
                  the leg straight and bring it close to your body. When your
                  opponent moves forward to bend their leg, you can break their
                  posture.
                </li>
                <li>
                  If your opponent is able to start opening your legs, open your
                  guard proactively: cuff-grip their sleeves (strip their grip
                  on your leg if you can), bring your knees inside, and put your
                  feet on their hips inside their arms with your legs flared
                  out. From here, you can pull their arms forward and pull back
                  into closed guard.
                </li>
              </ul>

              Sweeps
              <ul>
                <li>
                  Lumberjack sweep (opponent is in a staggered stance):
                  Underhook their leading ankle, putting it in the crook of your
                  elbow and pulling your bicep and shoulder in tight toward the
                  leg. Drop your hips, arch your head away, and push into the
                  inside of their thigh with your hip (optionally, push off the
                  mat with your free arm to exert more force) to bring your
                  opponent down sideways. After the sweep, keep the bottom leg
                  controlled and get into mount (if they fall on the opposite
                  side, control their posture and stay in closed guard).
                </li>
                <li>
                  Back sweep (opponent is in a square stance): Grip their
                  ankles, open your legs and drop your hips, then push your
                  opponent backward with your calves. As soon as they’re
                  falling, sit up and reach for their collar or head, and post
                  on the mat so you can get up first and get into mount.

                  <ul>
                    <li>
                      If your opponent leans forward to prevent the sweep, shoot
                      your hips up and grab their head to reestablish closed
                      guard with their posture broken.
                    </li>
                  </ul>
                </li>
              </ul>
            </ul>
          </td>
        </tr>
      </tbody>

      <table>
        <caption>Guard Passing</caption>

        <thead>
          <tr>
            <th scope="col" style="width: 120px"></th>
            <th scope="col">Notes</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">General</th>
            <td
              ><ul>
                <li>
                  In general, you want to clear grips, close the distance, and
                  stay close to pass guard. This is generally easier to do in a
                  gi. No-gi tends to use a tighter style of guard passing (body
                  locks, underhooks) to maintain connection.
                </li>
                <li>
                  Guard pass categories: around the legs, through the legs,
                  under the legs
                </li>
                <li>
                  Think of passing techniques as methods of transition between
                  staging positions (positions of advantage that provide
                  stability)—when your path seems blocked, you may see openings
                  toward other staging positions
                </li>
              </ul>

              Guard passing heuristics:
              <ul>
                <li>Make your opponent face away from you</li>
                <li>Bring one side of your opponent’s hips to the mat</li>
                <li>
                  Maneuver around your opponent’s frames (attack them at angles
                  rather than straight on)
                </li>
                <li>
                  Lift your weight slightly off a frame to make it easier to
                  clear
                </li>
                <li>
                  Maintain knee-elbow connection to protect against attacks
                </li>
                <li>Separate your opponent’s knees from their chest</li>
                <li>
                  Stay on top (don’t just stay down if your opponent is in the
                  process of sweeping you)
                </li>
                <li>
                  Work through the layers of the guard (feet → knees/shins →
                  hips → arms), beating each one with your shoulders, knees, and
                  hips
                </li>
                <li>
                  When transitioning to a different staging position, stay on
                  the same guard layer or advance to a further layer
                </li>
                <li>
                  Avoid leg entanglements (keep your feet out of range, strip
                  grips on your leg, tripod and wedge against your opponent’s
                  body with your head, drop your leg to the ground, etc.)
                </li>
                <li>
                  “2 steps forward, 1 step back”: transition to a different
                  staging position if you’re about to lose your position
                </li>
                <li>
                  Stay on the balls of your feet so you can move faster and
                  drive into your opponent
                </li>
                <li>Keep your opponent’s feet off your torso</li>
                <li>
                  Get the far-side underhook (keeps you close to your opponent,
                  makes it difficult for them to frame, and keeps you from being
                  bumped forward), but don’t reach for it if you haven’t dealt
                  with at least one of your opponent’s legs (risk of getting
                  pulled into closed guard)
                </li>
                <li>
                  Don’t let your opponent underhook you (under the arm, around
                  the waist, or under the leg)--block their arm and underhook
                  them
                </li>
                <li>Get the crossface</li>
                <li>
                  Control your opponent’s hips (e.g., underhook their waist to
                  prevent hip escaping)
                </li>
                <li>
                  Fatigue your opponent (some positions are inherently tiring
                  for the bottom person—e.g., getting stacked)
                </li>
                <li>
                  Learn to pass while standing (you have better mobility than
                  when you’re kneeling)
                </li>
                <li>
                  Control your opponent’s bottom leg (makes it hard for them to
                  make space or stand up—they need to retract their bottom leg
                  to stand)
                </li>
                <li>
                  Control your opponent’s bottom arm (hard to stand up without
                  posting on your bottom arm)
                </li>
                <li>
                  Win the inside position (push the insides of your opponent’s
                  legs, as the adductors tend to be relatively weak); clear leg
                  frames from the inside before moving to the outside of your
                  opponent’s legs
                </li>
                <li>
                  Use windshield wipers to pass over limbs without making large
                  movements
                </li>
                <li>Use your head to wedge and post</li>
                <li>
                  Keep your legs just within reach (not close enough for your
                  opponent to get good grips but not too far that you have poor
                  mobility and leave your arms unsupported)—if your opponent
                  reaches for a grip, they’ll open up for you to get closer and
                  attain more control
                </li>
                <li>
                  Use posts to maintain base and active posts to redirect your
                  pressure as needed
                </li>
                <li>
                  In general, you want your elbows/knees tight and hands/feet
                  out wide when passing (tight for control, wide for posting)
                </li>
                <li>
                  Take your opponent out of their element (e.g., make them
                  switch from seated guard to recumbent guard and vice versa,
                  pass outside their legs if they try to put their legs inside
                  yours)
                </li>
                <li>
                  Catch your opponent between supine and seated (e.g., spin them
                  while they have only one point of contact with the floor,
                  close the distance as they sit up)
                </li>
              </ul>

              Guard passing postures:
              <ul>
                <li>
                  Combat base - one leg leading plus knee-elbow connection,
                  other leg back for mobility (can be standing or kneeling)
                </li>
                <li>
                  Full squat - useful when your opponent has upper body control
                  of you in gi (squatting closes the space between your armpits
                  and legs)
                </li>
                <li>
                  Kneeling - prevents leg entanglements, can also be used in
                  half guard and closed guard; poor mobility and bad for offense
                </li>
                <li>
                  Tripod - useful for pressuring your opponent’s torso while
                  walking your feet up above their knees (e.g., when they have a
                  knee shield); can also block your opponent’s knee from their
                  chest and collapse frames
                </li>
                <li>
                  Tall posture - useful for pressuring an opponent’s collar grip
                </li>
                <li>
                  Gorilla posture - useful for moving around the legs when
                  passing; hips over feet (for mobility), shoulders forward of
                  or above hands (so you can push weight down)
                </li>
                <li>
                  Knee through (cross-knee or near-side) - one knee stapling
                  your opponent’s bottom leg, other leg stepped up, your weight
                  hovering over your opponent
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <th scope="row">Around the Legs Passing (Toreando Pass)</th>
            <td
              ><ul>
                <li>
                  Generally favors taller people (harder for your opponent to
                  reach their feet to your biceps or get solid grips)
                </li>
              </ul>

              Primary sequence (gi)
              <ul>
                <li>
                  Grip inside your opponent’s shins just below the knee. Push
                  their knees down, forward, and outward. Push one knee up while
                  moving laterally and pulling the other knee across your body.
                  As you pass their foot, punch the leg across while pressuring
                  with your other arm. Wedge the leg-punching shoulder into
                  their chest. Establishing side control, block their hips with
                  the other arm.
                </li>
                <li>
                  The inside shin grip and outward pressure prevent your
                  opponent from pummeling their feet onto your biceps
                </li>
                <li>Stay close and keep your weight above your opponent</li>
              </ul>

              Stripping grips (gi)
              <ul>
                <li></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </table>

    <style>
      h2 {
        text-align: center;
      }
    </style>
  </div>
</PageLayout>
