.root {
  background-color: var(--themed-background-color-1);
  height: 450px;
  padding: var(--spacing-3);
  /** Needs to be positioned for the Next.js `Image` to fit inside properly. */
  position: relative;
}

.title {
  position: absolute;
  right: var(--spacing-5);
  top: var(--spacing-4);
}
