---
import HeroBanner from "../components/HeroBanner.astro";
import BaseLayout from "./BaseLayout.astro";

interface Frontmatter {
  heroImage: {
    path: string;
    positionX?: string;
    positionY?: string;
  };
  title: string;
}

interface Props {
  frontmatter: Frontmatter;
}

const {
  frontmatter: { heroImage, title },
} = Astro.props;
---

<BaseLayout pageTitle={title}>
  <HeroBanner
    backgroundImage={{
      path: heroImage.path,
      positionX: heroImage.positionX,
      positionY: heroImage.positionY,
    }}
    gradientColorStop1={{ color: "black", colorLevel: 0, opacity: 0.9 }}
    gradientColorStop2={{ color: "black", colorLevel: 0, opacity: 0.4 }}
    gradientColorStop3={{ color: "black", colorLevel: 0, opacity: 0 }}
    title={title}
  />

  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  main {
    margin-inline: auto;
    max-inline-size: var(--mm--global--max-width);
    padding: var(--mm--spacing--9) var(--mm--global--padding-x);
  }
</style>
