.root {
  background-color: var(--themed-background-color-1);
  border-radius: var(--border-radius-1);
  margin: var(--spacing-4) var(--spacing-3);
  padding: var(--spacing-3);
}

@media (min-width: 640px) {
  .root {
    margin: var(--spacing-4) auto;
    width: 60%;
  }
}
